@{
    ViewBag.Title = "Counter";
    ViewBag.Description = "A web application to measure the tempo of a song and match it with styles of dance.";
}

@Html.Partial("_Counter")

@if (User.IsInRole("canEdit"))
{
    <hr/>
    <form id="lookup-by-id" class="form-inline">
        <div class="form-group">
            <label for="idString">ID/URL</label>
            <input type="text" class="form-control" id="idString">
        </div>
        <!-- Split button -->
        <div class="btn-group">
            <button type="button" id="service" value="0" class="btn btn-primary service-lookup">Find</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href='#' id="service-0" class="service-lookup">Find</a></li>
                <li><a href='#' id="service-s" class="service-lookup">On Spotify</a></li>
                <li><a href='#' id="service-i" class="service-lookup">On ITunes</a></li>
                <li><a href='#' id="service-a" class="service-lookup">On Amazon</a></li>
                <li><a href='#' id="service-x" class="service-lookup">On Groove</a></li>
            </ul>
        </div>
    </form>

    <div data-bind="with: song"><a class="label label-music" data-bind="attr: {href: '/song/edit?id=' + SongId + '&tempo=' + $root.tempo()}">Edit</a> <em data-bind="text:Title"></em> by <strong data-bind="text:Artist"></strong></div>
    <div data-bind="with: track">
        <a class="label label-music" data-bind="attr: {href: '/song/create?title=' + Name + '&artist=' + Artist + '&length=' + Duration + '&tempo=' + $root.tempo()+ '&album=' + Album + '&track=' + TrackNumber + '&service=S&purchase=' + TrackId}">Create</a>
        <em data-bind="text:Name"></em> by <strong data-bind="text:Artist"></strong> on <span data-bind="text:Album"></span> (<span data-bind="text:TrackNumber"></span>)
    </div>
    <div data-bind="text: error"></div>
}

@section Scripts {
    @{
        @ScriptHelper.Parameter(ViewData,"Numerator");
        @ScriptHelper.Parameter(ViewData, "Tempo");
        @ScriptHelper.Parameter(ViewData, "ShowMPM");
        @ScriptHelper.Parameter(ViewData, "ShowBPM");

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/knockout-mapping")
        @Scripts.Render("~/bundles/tools-script")
        @Scripts.Render("~/bundles/counter")

        @Styles.Render("~/bundles/tools-style")
    }

}

