@{
    ViewBag.Title = "Counter";
    ViewBag.Description = "A web application to measure the tempo of a song and match it with styles of dance.";
}

@Html.Partial("_Counter")

@if (User.IsInRole("canEdit"))
{
    <hr/>
    <form id="lookup-by-id" class="form-inline">
        <div class="form-group">
            <label for="idString">ID/URL</label>
            <input type="text" class="form-control" id="idString">
        </div>
        <button type="submit" id="spotify" value="S" class="btn btn-default service-lookup">Spotify</button>
        <button type="submit" id="itunes" value ="I" class="btn btn-default service-lookup">ITunes</button>
        <button type="submit" id="amazon" value="A" class="btn btn-default service-lookup">Amazon</button>
        <button type="submit" id="xbox" value="X" class="btn btn-default service-lookup">Groove</button>
    </form>

    <div data-bind="with: song"><a class="label label-music" data-bind="attr: {href: '/song/edit?id=' + SongId + '&tempo=' + $root.tempo()}">Edit</a> <em data-bind="text:Title"></em> by <strong data-bind="text:Artist"></strong></div>
    <div data-bind="with: track">
        <a class="label label-music" data-bind="attr: {href: '/song/create?title=' + Name + '&artist=' + Artist + '&length=' + Duration + '&tempo=' + $root.tempo()+ '&album=' + Album + '&track=' + TrackNumber + '&service=S&purchase=' + TrackId}">Create</a>
        <em data-bind="text:Name"></em> by <strong data-bind="text:Artist"></strong> on <span data-bind="text:Album"></span> (<span data-bind="text:TrackNumber"></span>)
    </div>
}

@section Scripts {
    @{
        @ScriptHelper.Parameter(ViewData,"Numerator");
        @ScriptHelper.Parameter(ViewData, "Tempo");
        @ScriptHelper.Parameter(ViewData, "ShowMPM");
        @ScriptHelper.Parameter(ViewData, "ShowBPM");

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/knockout-mapping")
        @Scripts.Render("~/bundles/tools-script")
        @Scripts.Render("~/bundles/counter")

        @Styles.Render("~/bundles/tools-style")
    }

}

