@using m4d.ViewModels
@{
    ViewBag.Title = "Info";
ViewBag.BreadCrumbs = new List<BreadCrumbItem>
{
    BreadCrumbItem.HomeItem,
    new()
    {
        Title = ViewBag.Title,
        Active = true
    }
};
}

<h1>@ViewBag.Title</h1>

<ul>
    <li>@Html.ActionLink("Contribute", "contribute", "Home")</li>
    <li>
        <a href="https://music4dance.blog/music4dance-help/">Help</a>
    </li>
    <li>
        <a href="https://music4dance.blog/">Blog</a>
    </li>
    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>
        <a href="https://music4dance.blog/reading-list/">Reading List</a>
    </li>
    <li>@Html.ActionLink("Site Map", "sitemap", "Home")</li>
    <li>@Html.ActionLink("Privacy Policy", "privacypolicy", "Home")</li>
    <li>@Html.ActionLink("Credits", "credits", "Home")</li>
    <li>@Html.ActionLink("Terms of Service", "TermsOfService", "Home")</li>
</ul>