@using System.Linq
@using m4d.ViewModels
@model System.Collections.Generic.IEnumerable<SiteMapCategory>

@{
    ViewBag.Title = "Site Map";
    ViewBag.Canonical = "https://www.music4dance.net/sitemap";
    ViewBag.Description = "music4dance site map";

    ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}


<h1>@ViewBag.Title</h1>

<div class="row">
    @foreach (var type in new[]
    {
        "music", "info", "tools"
    })
    {
        <div class="col-md">
            @foreach (var category in Model.Where(c => c.Type == type))
            {
                <h2>@category.Name</h2>
                <ul>
                    @foreach (var entry in category.Entries)
                    {
                        <li>
                            @if (entry is SiteMapDance dance)
                            {
                                <span>@dance.Title: <a href="@dance.FullPath">Info</a>, <a href="@dance.CatalogFullPath">List</a></span>
                            }
                            else
                            {
                                <partial name="_SiteMapEntry" model="new Tuple<SiteMapEntry, string>(entry, type)"/>
                                if (category.Type == "tools" && entry.Description != null)
                                {
                                    <span>: @entry.Description</span>
                                }
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>