@using System.Linq
@model DanceLibrary.Dances

@{
    ViewBag.Title = "Tempi";
    ViewBag.Description = "A web application that catalogs dance styles by the tempo to which they can be danced both socially and by the standards of several organizers of dance competitions.";

    var paramDetailed = (ViewData.ContainsKey("paramDetailed")) ? ViewBag.paramDetailed : false;
    var paramStyle = (ViewData.ContainsKey("paramStyle")) ? ViewBag.paramStyle : 0;
    var paramMeter = (ViewData.ContainsKey("paramMeter")) ? ViewBag.paramMeter : 1;
    var paramType = (ViewData.ContainsKey("paramType")) ? ViewBag.paramType : 0;
    var paramOrg = (ViewData.ContainsKey("paramOrg")) ? ViewBag.paramOrg : 0;

    var danceGroups = Model.AllDanceGroups.ToList();
}

<div class="row">
    <div class="dropdown col-md-3">
        <a id="filter-style" role="button" data-toggle="dropdown" href="/home/tempi" class="btn btn-info btn-block filter-button">
            @Model.Styles[paramStyle].Value <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filter-style">
            @foreach (var element in Model.Styles)
            {
                var id = "filter-style-" + element.Key;
                <li><a id="@id" href="#">@element.Value</a></li>
            }
        </ul>
    </div>
    <div class="dropdown col-md-3">
        <a id="filter-meter" role="button" data-toggle="dropdown" href="/home/tempi" class="btn btn-info btn-block filter-button">
            @(paramMeter == 1 ? "All Meters" : paramMeter.ToString() + "/4 MPM") <span class=" caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filter-meter">
            <li><a id="filter-meter-1" href="#">All Meters</a></li>
            <li><a id="filter-meter-2" href="#">2/4 MPM</a></li>
            <li><a id="filter-meter-3" href="#">3/4 MPM</a></li>
            <li><a id="filter-meter-4" href="#">4/4 MPM</a></li>
        </ul>
    </div>
    <div class="dropdown col-md-3">
        <a id="filter-type" role="button" data-toggle="dropdown" href="/home/tempi" class="btn btn-info btn-block filter-button">
            @(paramType==0?"All Types":danceGroups[paramType-1].Name) <span class=" caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filter-type">
            <li><a id="filter-type-ALL" href="#">All Types</a></li>
            @foreach (var item in danceGroups)
            {
                if (item.CleanName == "performance") { continue;}
                    var id = "filter-type-" + item.Id;
                <li><a id="@id" href="#">@item.Name</a></li>
            }
        </ul>
    </div>
    <div class="dropdown col-md-3">
        <a id="filter-org" role="button" data-toggle="dropdown" href="/home/tempi" class="btn btn-info btn-block filter-button">
            @Model.Organizations[paramOrg].Title <span class=" caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filter-meter">
            @for (var i = 0; i < Model.Organizations.Length; i++)
            {
                var id = "filter-org-" + i.ToString();
                <li><a id="@id" href="#">@Model.Organizations[i].Title</a></li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <table class="table table-striped table-bordered col-md-12">
        <thead>
            <tr data-bind="foreach: headers">
                <td data-bind="visible: show"><a data-bind="click: $parent.sort, text: title" class="btn btn-link"></a></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: filteredDances">
            <tr>
                <td><a data-bind="text: Name, attr: {href: '/dances/' + SeoName}"></a></td>
                <td align="center"><span data-bind="text: Meter.Numerator"></span>/<span data-bind="text: Meter.Denominator"></span></td>
                <td align="center" data-bind="html: tempoMPM"></td>
                <td align="center" data-bind="html: tempoDS, visible: $parent.showDanceSport"></td>
                <td align="center" data-bind="html: tempoNDCA, visible: $parent.showNDCA_A"></td>
                <td align="center" data-bind="html: tempoNDCABeginner, visible: $parent.showNDCA_B"></td>
                <td align="center" data-bind="html: tempoBPM"></td>
                <td><a data-bind="text: GroupName, attr: {href: '/dances/' + GroupName}"></a></td>
                <td data-bind="html: styles"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-6">
        <a id="reset" role="button" href="/Home/Tempi" class="btn btn-info btn-block">Reset</a>
    </div>
    <div class="checkbox col-md-6">
        <label>
            <input id="details" type="checkbox" data-bind="checked: showDetails"/> Show Details
        </label>
    </div>
</div>

<div class="row" data-bind="visible: showDetails"> 
    <p>(*) A short explanation of the NDCA (National Dance Council of America) columns: For American style dances the "A" column contains Tempi for Silver and Gold levels while the "B" column contains Tempi for Bronze level.  For International style dances the "A" column contains Tempi for Professional and Amateur couples while the "B" column contains Tempi for Pro/Am couples. </p>
    <p>Dancesport Tempi are pulled from here: <a href="http://www.worlddancesport.org/Rule/Athlete/Competition">http://www.worlddancesport.org/Rule/Athlete/Competition</a></p>
    <p>NDCA (National Dance Council of America) Tempi are pulled from here: <a href="http://ndca.org/education/dances-and-tempi/">http://ndca.org/education/dances-and-tempi/</a></p>
    <p>If there are other organizations that you would like to see included in this list, please <a href="https://music4dance.blog/feedback/">contact us</a> and we'll be happy to take a look.</p>
</div>

<script>
    var danceTypes = [
        {id: 'ALL', name: 'All Types'},
        @foreach (var item in Model.AllDanceGroups)
        {
            <text>{id:"@item.Id",name:"@item.Name"},</text>
        }
    ];
    var danceStyles = [
        @foreach (var item in Model.Styles)
        {
            <text>{ id: "@item.Key", name: "@item.Value" },</text>
        }
    ];
    var danceOrgs = [
        @foreach (var item in Model.Organizations)
        {
            <text>{ title: "@item.Title", name: "@item.Name", category:"@item.Category", qualifier:"@item.Qualifier"},</text>
        }
    ];

    var paramDetailed = @(paramDetailed ? "true" : "false");
    var paramStyle = @paramStyle;
    var paramMeter = @paramMeter;
    var paramType = @paramType;
    var paramOrg = @paramOrg;

    var dances = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.NonPerformanceDanceTypes));
</script>

@section Scripts {
    <environment include="Development">
        <script src="~/scripts/tempi.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/scripts/tempi.min.js"></script>
    </environment>
}
