@using m4d.Controllers
@using m4d.Utilities;
@using m4d.ViewModels
@model m4d.ViewModels.PurchaseModel

@{
    ViewBag.Title = "Thank You!";
    ViewBag.BreadCrumbs = new List<BreadCrumbItem>
    {
        BreadCrumbItem.HomeItem,
        new()
        {
            Title = "Contribute",
            Link = "/Home/Contribute"
        },
        new()
        {
            Title = ViewBag.Title,
            Active = true
        }
    };

    var level = @SubscriptionLevelDescription.FindSubscriptionLevel(Model.Amount);
    var donationAmount = Model.Amount - level.Price;
    var marketing = GlobalState.Marketing;
}

<h1>@ViewBag.Title</h1>

@if (Model.Kind == PurchaseKind.Purchase)
{
    <p class="big-text">Thank you for purchasing an annual @level.Name subscription to music4dance.net.
        This entitles you to a one year subscription with an ad free experience as well as
        <a href="https://music4dance.blog/music4dance-help/subscriptions/" target="_blank">
            other benefits
        </a>.
        Remember that you must log in as <b>@Model.User</b> in order to turn off the advertisements.
    </p>

    @if (marketing.Enabled && Model.Amount >= 25.0M)
    {
        <p>You are also entitled to an electronic copy of @marketing.Product.Name.  In order to 
        download the book, please follow this link
        <a href="@marketing.Product.Link" target="_blank">@marketing.Product.Link</a> and use this 
        password <b>@marketing.Product.Password</b></p>
    }

    if (donationAmount > 0)
    {
        <p class="big-text">Also, thank you for the generous additional donation of $@(donationAmount)</p>
    }
}
else
{
    <p class="big-text">Thank you for donating $@(Model.Amount.ToString("F2")) to music4dance.net.</p>
}

<p class="big-text">Your confirmation code is <b>@Model.Confirmation</b></p>

@if (Model.Kind == PurchaseKind.Donation || Model.Amount > CommerceController.AnnualSubscription)
{
    <p class="big-text">Your donation will help us continue to improve the web site and catalog.</p>
}

<p class="big-text">Any questions about how subscriptions or donations work, how transactions are processed securely or anything else related to this transaction? Please check out our <a href="https://music4dance.blog/music4dance-help/subscriptions/" target="_blank">help page.</a>
    or ask directly at <a href="mailto:info@music4dance.net">info@music4dance.net</a>.
</p>

<p class="big-text">Please feel free to <a href="https://music4dance.blog/feedback/">contact us</a> if you have suggestions for improvements to the site or would like to contribute to the catalog.</p>