@model PagedList.IPagedList<SongDatabase.Models.SongProperty>
@using PagedList.Mvc;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Properties";
    bool canEdit = false;
    if (User.IsInRole("canEdit"))
    {
        canEdit = true;
    }
    bool showDiag = false;
    if (User.IsInRole("showDiagnostics"))
    {
        showDiag = true;
    }
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("showDiagnostics"))
{
    <table class="songlist">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Value)</td>
            </tr>
        }
    </table>

<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
(@Model.TotalItemCount song properties found.)
</p>
    
@Html.PagedListPager( Model, page => Url.Action("Index", new { page, start = ViewBag.Start, count=ViewBag.Count }) )
    
}
else
{
    <h2>You don't have privs to see this page.</h2>
}

