@model IEnumerable<m4d.ViewModels.UndoResult>

@{
    ViewBag.Title = "Undo Results";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Message
        </th>
        <th>
            SID
        </th>
        <th>
            LID
        </th>
        <th>
            User Name
        </th>
        <th>
            Time
        </th>
        <th>
            Action
        </th>
        <th>
            Signature
        </th>
        <th>
            Data
        </th>
    </tr>

    @foreach (var item in Model) {
        string message = "Internal Error";
    
        int? LID = item.Result.GetIntData(m4d.Models.DanceMusicContext.SuccessResult);
        if (LID.HasValue)
        {
            message = "Success";
        }
        else
        {
            LID = item.Result.GetIntData(m4d.Models.DanceMusicContext.FailResult);
            if (LID.HasValue)
            {
                message = "Failed: " + item.Result.GetData(m4d.Models.DanceMusicContext.MessageData);
            }
        }
        
        <tr>
            <td>
                @message
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.SongReference)
            </td>
            <td>
                @LID.Value
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.SongSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Data)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Download Log", "Lines")

