@model ApplicationUser

@{
    ViewBag.Title = "ChangeRoles";

    var roles = @Model.GetRoles(ViewBag.Roles);
    var editCheck = roles.Contains(DanceMusicService.EditRole) ? "checked" : string.Empty;
    var tagCheck = roles.Contains(DanceMusicService.TagRole) ? "checked" : string.Empty;
    var diagCheck = roles.Contains(DanceMusicService.DiagRole) ? "checked" : string.Empty;
    var dbaCheck = roles.Contains(DanceMusicService.DbaRole) ? "checked" : string.Empty;
}

<h2>ChangeRoles for @Model.UserName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="roles" value="@DanceMusicService.TagRole" @tagCheck>
                        Tagger
                    </label>
                    <label>
                        <input type="checkbox" name="roles" value="@DanceMusicService.EditRole" @editCheck>
                        Editor
                    </label>
                    <label>
                        <input type="checkbox" name="roles" value="@DanceMusicService.DiagRole" @diagCheck>
                        Diagnostics
                    </label>
                    <label>
                        <input type="checkbox" name="roles" value="@DanceMusicService.DbaRole" @dbaCheck>
                        Database Administrator
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}










