@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li class="active">Admin Index</li>
</ol>

<h2>Administrator Console</h2>
<hr/>

<div>
    <h3>@Html.ActionLink("List Users", "Index", "ApplicationUsers")</h3>
</div>
<hr/>

<div>
    <h3>@Html.ActionLink("Tags","Tags")</h3>
</div>
<hr/>
<div>
    <h3>@Html.ActionLink("Logging", "Logging")</h3>
</div>
<hr/>

<div>
    <h3>@Html.ActionLink("Cleanup Tasks", "CleanupTasks")</h3>
</div>
<hr />

<div>
    <h3>@Html.ActionLink("Tracing", "Tracing")</h3>
</div>
<hr />

<div>
    <h3>@Html.ActionLink("Initialization Tasks", "InitializationTasks")</h3>
</div>
<hr />

<div>
    <h3>@Html.ActionLink("Song Scrape and Modifier", "ScrapingModifier")</h3>
</div>
<hr />

@if (User.IsInRole("dbAdmin"))
{
    <div>
        <h3>@Html.ActionLink("Uploads and Backups", "UploadBackup")</h3>
    </div>   
}
