
@{
    ViewBag.Title = "Index";
}

<h2>Administrator Console</h2>

<h3>Logging</h3>
<ul>
    <li>@Html.ActionLink("Log", "Index", "Log")</li>
</ul>

<h3> Cleanup Tasks</h3>
<ul>
    <li>@Html.ActionLink("Merge Candidates - Similar Title", "MergeCandidates", "Song", new { level = 2 }, null)</li>
    <li>@Html.ActionLink("Merge Candidates - Similar (Title + Artist) + All else equal", "MergeCandidates", "Song", new { level = 1 }, null)</li>
    <li>@Html.ActionLink("Merge Candidates - Similar Title + All else equal", "MergeCandidates", "Song", new { level = 0 }, null)</li>
</ul>

<hr />
<h3> Initializiation Tasks</h3>
<ul>
    <li>@Html.ActionLink("Backup the Database", "BackupDatabase")</li>
    <li>@Html.ActionLink("Backup the Database (with lookup history)", "BackupDatabase", new {useLookupHistory = "true" })</li>
    <li>@Html.ActionLink("Update Purchase Info", "UpdatePurchase")</li>
    <li>@Html.ActionLink("Update Title Hashes", "UpdateTitleHash")</li>
    @if (User.IsInRole("dbAdmin"))
    {
        <li>@Html.ActionLink("Restore the Datbase", "RestoreDatabase")</li>
        <li>@Html.ActionLink("Seed the Datbase", "SeedDatabase")</li>
        <li>@Html.ActionLink("Rerun seed function", "Reseed")</li>
    }
</ul>

@if (User.IsInRole("dbAdmin"))
{
    <hr />

    <h3>Reload the Database</h3>
    using (Html.BeginForm("ReloadDatabase", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="Reload Database" id="Submit" value="Upload" />
    }
}

