@{
    ViewBag.Title = "Index";
}

<h2>Administrator Console</h2>

<h3>Users</h3>
<ul>
    <li>@Html.ActionLink("List Users", "Index", "ApplicationUsers")</li>
</ul>

<h3>Tags</h3>
<ul>
    <li>@Html.ActionLink("Tag List", "index", "tag")</li>
</ul>

<h3>Logging</h3>
<ul>
    <li>@Html.ActionLink("Log", "Index", "Log")</li>
    <li>@Html.ActionLink("Restore From Log", "RestoreLines", "Log")</li>
</ul>

<h3> Cleanup Tasks</h3>
<ul>
    <li>@Html.ActionLink("Merge Candidates - Similar Title", "MergeCandidates", "Song", new { level = 2 }, null)</li>
    <li>@Html.ActionLink("Merge Candidates - Similar (Title + Artist) + All else equal", "MergeCandidates", "Song", new { level = 1 }, null)</li>
    <li>@Html.ActionLink("Merge Candidates - Similar Title + All else equal", "MergeCandidates", "Song", new { level = 0 }, null)</li>
    <li>@Html.ActionLink("Clean up Tempi", "CleanTempi")</li>
    <li>@Html.ActionLink("Fix up Artists", "FixArtists")</li>
    <li>@Html.ActionLink("Update Albums", "UpdateAlbums")</li>
    <li>@Html.ActionLink("Remove Lookup History", "CleanLookupHistory")</li>
    @*<li>@Html.ActionLink("Update Tag Types", "UpdateTagTypes")</li>*@
    <li>@Html.ActionLink("Update Tag Summaries", "UpdateTagSummaries")</li>
    @*<li>@Html.ActionLink("Add Dance Groups", "AddDanceGroups")</li>
    <li>@Html.ActionLink("Clean Tags", "CleanTags")</li>*@
    <li>@Html.ActionLink("Infer Dance Types", "InferDanceTypes")</li>
    <li>@Html.ActionLink("Clear Song Cache", "ClearSongCache")</li>
    <li>@Html.ActionLink("Update Spotify Regions", "SpotifyRegions", "Admin", new { count = 500 }, null)</li>
</ul>

<h3>Tracing (Current Level = @ViewBag.TraceLevel)</h3>
<ul>
    <li>@Html.ActionLink("Turn Tracing Off", "SetTraceLevel", "Admin", new { level = 0 }, null)</li>
    <li>@Html.ActionLink("Trace Error", "SetTraceLevel", "Admin", new { level = 1 }, null)</li>
    <li>@Html.ActionLink("Trace Warning", "SetTraceLevel", "Admin", new { level = 2 }, null)</li>
    <li>@Html.ActionLink("Trace Info", "SetTraceLevel", "Admin", new { level = 3 }, null)</li>
    <li>@Html.ActionLink("Trace Verbose", "SetTraceLevel", "Admin", new { level = 4 }, null)</li>
    <li>@Html.ActionLink("Test Trace", "TestTrace", "Admin", new { message = "Nothing Special" }, null)</li>
</ul>

<hr />
<h3> Initializiation Tasks</h3>
<ul>
    <li>@Html.ActionLink("Backup the Database", "BackupDatabase")</li>
    <li>@Html.ActionLink("Backup the Database (with lookup history)", "BackupDatabase", new {useLookupHistory = "true" })</li>
    <li>@Html.ActionLink("Backup users", "BackupDatabase", new {  tags = false, dances = false, songs = false })</li>
    <li>@Html.ActionLink("Backup tail", "BackupTail", new { count = 150 })</li>
    <li>@Html.ActionLink("Update Purchase Info", "UpdatePurchase")</li>
    <li>@Html.ActionLink("Update Title Hashes", "UpdateTitleHash")</li>
    <li>@Html.ActionLink("Backup Tags", "BackupTags")</li>
    @if (User.IsInRole("dbAdmin"))
    {
        <li>@Html.ActionLink("Restore the Datbase", "RestoreDatabase")</li>
        <li>@Html.ActionLink("Rerun seed function", "Reseed")</li>
        <li>@Html.ActionLink("Upload Catalog", "UploadCatalog")</li>
        <li>@Html.ActionLink("Upload Catalog (Ithaca)", "UploadCatalog", new {separator="ITC", headers="TEMPO,TITLE,ARTIST",user="ithaca"})</li>
        <li>@Html.ActionLink("Upload Album", "UploadCatalog", new { headers="Title", separator=@"\t" })</li>
    }
</ul>

<hr />
<h3>Songs Modified By</h3>
@using (Html.BeginForm("FilterUser", "Song", FormMethod.Get))
    {
        <input type="text" name="user" />
        <input type="submit" id="Submit" value="Search" />
    }

@if (User.IsInRole("dbAdmin"))
{
    <hr />

    <h3>Upload Tag Types</h3>
    using (Html.BeginForm("UploadTagTypes", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTags" id="Submit" value="Upload" />
    }
    <hr />

    <h3>Upload Tags</h3>
    using (Html.BeginForm("UploadTags", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTags" id="Submit" value="Upload" />
    }
    <hr />

    <h3>Upload Tempi</h3>
    using (Html.BeginForm("UploadTempi", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTempi" id="Submit" value="Upload" />
    }
    <hr />
    
    <h3>Reload the Database</h3>
    using (Html.BeginForm("ReloadDatabase", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="checkbox" name="batch" id="batch" value="true" /> <text>Batch Upload</text>
        <input type="submit" name="reloadDatabase" id="Reload" value="Reload" />
        @*<input type="submit" name="reloadDatabase" id="Add" value="Add" />*@
        <input type="submit" name="reloadDatabase" id="UpdateSongs" value="Songs" />
        <input type="submit" name="reloadDatabase" id="UpdateDances" value="Dances" />
        <input type="submit" name="reloadDatabase" id="UpdateSongs" value="Users" />
    }
}

<h3>Scraping</h3>
<ul>
    <li>@Html.ActionLink("Century", "ScrapeDances", new { id = "Century" })</li>
    <li>@Html.ActionLink("DanceForum", "ScrapeDances", new { id = "danceforums" })</li>
    <li>@Html.ActionLink("DWTS", "ScrapeDances", new { id = "dwts" })</li>
</ul>
