@{
    ViewBag.Title = "InitializationTasks";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/admin">Admin Index</a></li>
    <li class="active">Initialization Tasks</li>
</ol>

<h2>Administrator Console</h2>
<hr />
<h3> Initializiation Tasks</h3>
<ul>
    <li>@Html.ActionLink("RebuildDanceInfo", "RebuildDanceInfo")</li>
    <li>@Html.ActionLink("Update Purchase Info", "UpdatePurchase")</li>
    <li>@Html.ActionLink("Update Title Hashes", "UpdateTitleHash")</li>
    <li>@Html.ActionLink("Recompute Dance Stats", "RebuildDances")</li>
    <li>@Html.ActionLink("Rebuild Dance Tags", "RebuildDanceTags")</li>
    @if (User.IsInRole("dbAdmin"))
    {
        <li>@Html.ActionLink("Restore the Datbase", "RestoreDatabase")</li>
        <li>@Html.ActionLink("Rerun seed function", "Reseed")</li>
    }
</ul>