@{
    ViewBag.Title = ViewBag.Name;
    int matches = 0;
    int conflicts = 0;
}

@model IEnumerable<m4d.ViewModels.LocalMerger>

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Left.SongId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left.Artist)
        </th>
        <th>
            Album
        </th>
        <th>
            Track
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left.Tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left.Length)
        </th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @{
                    string color;
                    if (item.Conflict)
                    {
                        color = "red";
                        conflicts += 1;
                    }
                    else
                    {
                        color = "green";
                        matches += 1;
                    }
                }
                <span style="color:@color">@item.MatchType.ToString()</span>
            <td>
                @Html.DisplayFor(modelItem => item.Left.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Left.Artist)
            </td>
            @if (item.Left.HasAlbums)
            {
                <td>@Html.DisplayFor(modelItem => item.Left.Albums[0].Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Left.Albums[0].Track)</td>
            }
            else
            {
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Left.Tempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Left.Length)
            </td>
        </tr>
        <tr>
            @if (item.Right != null)
            {
                <td>
                    @Html.ActionLink(item.Right.SongId.ToString(), "Details", "Song", new { id = item.Right.SongId }, new { target="_blank"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Right.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Right.Artist)
                </td>
            }
            else
            {
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            }
            @if (item.Right != null && item.Right.HasAlbums)
            {
                <td>@Html.DisplayFor(modelItem => item.Right.Albums[0].Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Right.Albums[0].Track)</td>
            }
            else
            {
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            }
            @if (item.Right != null)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Right.Tempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Right.Length)
                </td>
                }
            else
            {
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            }
        </tr>
    }
</table>

<h3>Matches = @matches</h3>
<h3>Conflicts = @conflicts</h3>

@using (Html.BeginForm((string)ViewBag.Action,"Admin",new {fileId=ViewBag.FileId, danceIds=ViewBag.Dances, userName=ViewBag.UserName, headers=ViewBag.Headers, separator=ViewBag.Separator}))
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Commit" class="btn btn-default"/>
    </p>
}
