@model DanceCategory

@{
    ViewBag.Title = @Model.Name;
    ViewBag.Description = "A description of the competition dance category " + @Model.Name + " along with tempo ranges and song lists.";
    var catType = @Model.Name.StartsWith("International") ? DanceCategoryType.International : DanceCategoryType.American;
    var blogName = "https://www.music4dance.net/blog/tag/" + @Model.Name.ToLowerInvariant().Replace(' ', '-') + "/";
}

<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/dances">Dances</a></li>
    <li><a href="/dances/ballroom-competition-categories">Ballroom</a></li>
    <li class="active">@Model.Name</li>
</ol>

<h1>@Model.Name</h1>

<div class="big-text">
    <p>@Model.Name is a category of @Html.ActionLink("competition ballroom dancing","ballroom-competition-categories","dances") that is defined by the <a href="http://www.worlddancesport.org/Rule/Athlete/Competition">World Dance Council</a> and <a href="http://ndca.org/education/dances-and-tempi/">National Dance Council of America</a>.</p>
    <p>Click on any of the tempo values above (in the MPM, DanceSport, or NDCA columns) to go to a list of songs of that tempo.</p>
</div>

@DanceHelper.CategoryTable(Html, Model.Round, "An " + @DanceHelper.FullRoundName(Model) + "dance round consist of the following:", catType)

@if (@Model.Extras != null)
{
    @DanceHelper.CategoryTable(Html, Model.Extras, "Other dances categorized as " + @Model.Name + ", although they aren't part of the competition round, are:", catType)
}

@{
    var cats = Dance.Categories.ToList();
    cats.Remove(Model.Name);
}

<p class="big-text">Other categories of @Html.ActionLink("competition ballroom dancing","ballroom-competition-categories","dances") are @DanceHelper.LinkCategory(Html, cats[0]), @DanceHelper.LinkCategory(Html,cats[1]) and @DanceHelper.LinkCategory(Html,cats[2]).</p>

<dl class="big-text">
    @SmartLink.TempiTool()
</dl>

<p class="big-text">Read the <a href="https://www.music4dance.net/blog">music4dance blog</a> entries about <a href="https://www.music4dance.net/blog/tag/ballroom">Ballroom</a> in general and <a href="@blogName">@Model.Name</a> more specifically.</p>
