@using DanceLibrary
@model DanceCategory

@{
    ViewBag.Title = @Model.Name;
    ViewBag.Description = "A description of the competition dance category " + @Model.Name + " along with tempo ranges and song lists.";
    var catType = @Model.Name.StartsWith("International") ? DanceCategoryType.International : DanceCategoryType.American;
}

@helper FullRoundName()
{
    @Model.Name @(Model.Round.Count == 4 ? " four " : " five " )
}

@helper LinkCategory(string name)
{
    @Html.ActionLink(name,DanceObject.SeoFriendly(name),"dances")
}

<h1>@Model.Name</h1>

<p>@Model.Name is a category of competition ballroom dancing that is defined by the <a href="http://www.worlddancesport.org/Rule/Athlete/Competition">World Dance Council</a> and <a href="http://ndca.org/education/dances-and-tempi/">National Dance Council of America</a>.</p>

@DanceHelper.CategoryTable(Html, Model.Round, "An " + @FullRoundName() + "dance round consist of the following:", catType)

@if (@Model.Extras != null)
{
    @DanceHelper.CategoryTable(Html, Model.Extras, "Other dances categorized as " + @Model.Name + ", although they aren't part of the competition round, are:", catType)
}

@{
    var cats = Dance.Categories.ToList();
    cats.Remove(Model.Name);
}

<p>Click on any of the tempo values above (in the MPM, DanceSport, or NDCA columns) to go to a list of songs of that tempo.</p>

<p>
    Other categories of competition ballroom dancing are @LinkCategory(cats[0]), @LinkCategory(cats[1]) and @LinkCategory(cats[2]).
</p>

<p><img src="~/Content/tools.png" alt="tools" width="24" height="24" />Explore relationships between the meter and tempi of different dance styles and find songs that match.
@SmartLink.TryIt("https://www.music4dance.net/home/tempi") @SmartLink.Docs("https://www.music4dance.net/blog/music4dance-help/dance-tempi/")</p>
