@{
    ViewBag.Title = "Dance Style Index";
    ViewBag.Description = "A list of partner dancing styles, including Ballroom, Salsa, Swing, and Tango.";
    ViewBag.ShowTempo = false;
}

@model IEnumerable<m4dModels.SongCounts>

<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/dances">Dances</a></li>
</ol>

@{
    string[] boxes = { "LTN", "SWG", "FXT", "TNG", "WLZ", "MSC" };
}

<div class="row">
    @foreach (string box in boxes)
    {
        var item = Model.FirstOrDefault(m => m.DanceId == box);

        <div class="list-group col-sm-3">
            <h4><span id="@item.SeoName" class="btn btn-info btn-lg dance">@item.DanceName <span id="@item.DanceId" class="badge">@item.SongCount</span></span></h4>
            @{Html.RenderPartial("_DanceList", item.Children);}
        </div>
    }
</div>

<p class="col-md-12">Choose from the dances styles to get more information or click on the number next to the name to get a list of songs that are suitable to dance that dance to.</p>
<p>Don't agree with how we've organized dance styles? Well, we're not convinced there is a "right way" but we're doing some research to see if we can find a better way (or maybe multiple ways).  Please help us out by <a href="https://www.music4dance.net/blog/help-how-would-you-group-this-dance-style/">taking our survey</a> so that we can include your ideas about how to organize dance styles in the future.</p>

@{
    string pageScript = "~/Scripts/showdance.js" + Page.ScriptQualifier;
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content(pageScript)" type="text/javascript"></script>
}


