@using Microsoft.AspNet.Identity
@model m4d.ViewModels.DeleteUserViewModel
@{
    ViewBag.Title = "Delete Account";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/manage/index">@User.Identity.GetUserName()</a></li>
    <li><a href="/manage/Settings">Account Settings</a></li>
    <li class="active">Delete Account</li>
</ol>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("DeleteUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Are you absolutely certain that you want to delete your account?</h4>
    <p>This will permanently delete your account and all associated information.  There is no way to recover your account information once you have clicked the button.</p>
    <br/>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="hidden" name="userName" value="@Model.UserName" />
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" value="Permanently Delete My Account" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}