@using Microsoft.AspNet.Identity
@model m4d.ViewModels.IndexViewModel
@{
    ViewBag.Title = "UserProfile";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/Manage/Index">@User.Identity.GetUserName()</a></li>
    <li class="active">My Profile</li>
</ol>

<h3>Welcome @Model.Name</h3>
<p class="big-text">You have been a member of the music4dance community since @Model.MemberSince.ToString("d").</p>
@if (Model.SubscriptionLevel != SubscriptionLevel.None)
{
<p class="big-text">You have been a premium subscriber to musci4dance since @Model.SubscriptionStart.Value.ToString("d").  Your current subscription ends on @Model.SubscriptionEnd.Value.ToString("d").</p>
}

<p class="text-success">@ViewBag.StatusMessage</p>

<hr />
<div>
    <h4>Your Profile Preferences [@Html.ActionLink("Edit", "EditProfile")]</h4>
    <dl class="dl-horizontal">
        <dt>Region:</dt>
        <dd>@Model.Region</dd>
        <dt>Privacy:</dt>
        <dd>@Model.Privacy</dd>
        <dt>Contact Preferences:</dt>
        <dd>@string.Join(", ", @Model.CanContact)</dd>
        <dt>Music Streaming<br />and Purchase service<br />preferences:</dt>
        <dd>@string.Join(", ", @Model.ServicePreference)</dd>
    </dl>
</div>