@using m4d.ViewModels;

@{
    ViewBag.Title = "Home Page";
    ViewBag.Canonical = "https://www.music4dance.net";
    ViewBag.Description = "music4dance.net is an online catalog, tools and eductational resources that help Ballroom, Salsa, Swing, Tango and other dancers find fun and exiting music.";

    var dances = new[]
    {
        new DanceClass{Title="Ballroom",Image="ballroom",
            Dances=new List<DanceMapping> {new DanceMapping("Foxtrot"),new DanceMapping("Waltz"), new DanceMapping("Tango","tango-(ballroom)"),
                new DanceMapping("Cha Cha"), new DanceMapping("Rumba"), new DanceMapping("Swing","east-coast-swing"),
                new DanceMapping("Samba"), new DanceMapping("Mambo"), new DanceMapping("Paso Doble"), new DanceMapping("Jive")
            }},
        new DanceClass{Title="Swing",Image="swing",TopDance="swing",
            Dances=new List<DanceMapping>
              {new DanceMapping("Lindy Hop"),new DanceMapping("East Coast Swing"),new DanceMapping("West Coast Swing"),new DanceMapping("Hustle"),
                new DanceMapping("Jive"),new DanceMapping("Jump Swing"), new DanceMapping("Carolina Shag"), new DanceMapping("Collegiate Shag"),
            }},
        new DanceClass{Title="Latin",Image="salsa",
            Dances=new List<DanceMapping>
            {
                new DanceMapping("Salsa"),new DanceMapping("Bachata"),new DanceMapping("Cumbia"),new DanceMapping("Merengue"),
                new DanceMapping("Mambo"),new DanceMapping("Cha Cha"),new DanceMapping("Rumba"),
                new DanceMapping("Samba"),new DanceMapping("Bossa Nova")
            }},
        new DanceClass{Title="Tango",Image="tango",TopDance="tango",
            Dances=new List<DanceMapping>
            {
                new DanceMapping("Argentine Tango"),new DanceMapping("Neo Tango"),new DanceMapping("Milonga"),new DanceMapping("Ballroom Tango","tango-(ballroom)"),
            }},
    };
}

<div id="banner" class="row col-md-12 hidden-xs hidden-sm hidden-md" style="background-color: #424242">
    <div class="centeredImage"><img src="~/Content/Music4DanceBannerColor.png" alt="Shall we dance to music?" /></div>
</div>
<div id="danceCarousel" class="carousel slide row col-md-12" data-ride="carousel" style="padding-top: 10px; padding-bottom: 10px">
    <!-- Carousel indicators -->
    <ol id="danceCarouselIndicators" class="carousel-indicators">
        <li data-target="#danceCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#danceCarousel" data-slide-to="1"></li>
        <li data-target="#danceCarousel" data-slide-to="2"></li>
        <li data-target="#danceCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < dances.Length; i++)
        {
            var dance = dances[i];
            var mainLink = dance.TopDance ?? "index";
            <div class="item @(i == 0 ? "active" : string.Empty) @(dance.Image + "-image") row">
                <div class="col-md-4 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <div class="dance-title">@Html.ActionLink("Music for " + @dance.Title + " Dancers", @mainLink, "dances")</div>
                    <ul class="dance-list">
                        @foreach (var dm in dance.Dances)
                        {
                            <li><span class="glyphicon glyphicon-music" aria-hidden="true"></span> @Html.ActionLink(@dm.Title, @dm.Name, "dances")</li>
                        }
                    </ul>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm hidden-md">
                    <img src="~/Content/@(dance.Image).png" alt=@dance.Title width="600" height="600" />
                </div>
                <div class="col-md-4 hidden-xs hidden-sm hidden-lg">
                    <img src="~/Content/@(dance.Image).png" alt=@dance.Title width="400" height="400" />
                </div>
            </div>
        }
    </div>
    <!-- Carousel nav -->
    <a class="small left carousel-control" href="#danceCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="small right carousel-control" href="#danceCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row col-xs-12"><hr /></div>
<div class="row">
    <div class="col-sm-4">
        <a href="#music">
            <img src="~/Content/music.png" alt="music" width="128" height="128" class="center-block" />
            <h2 class="music center-block" style="text-align: center">Music</h2>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="#tools">
            <img src="~/Content/tools.png" alt="tools" width="128" height="128" class="center-block" />
            <h2 class="tools center-block" style="text-align: center">Tools</h2>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="#info">
            <img src="~/Content/info.png" alt="info" width="128" height="128" class="center-block" />
            <h2 class="blog center-block" style="text-align: center">Info</h2>
        </a>
    </div>
</div>

<div class="row col-xs-12"><hr /></div>

<div id="music" class="row col-md-12">
    <h1 class="music">Music</h1>
    <p style="font-size: 150%">The song list page can by found by clicking clicking the "Songs" itme in the "Music" menu at the top of the page.  You'll start with  a list of songs and you can refine your search in many different ways.  Check some of them out in the illustration below.</p>
</div>

<div class="row col-md-12">
    <img src="~/Content/song-page.png" alt="songs page" style="float: right; margin:10px" />
    <ul style="list-style-type: upper-alpha; font-size: 150%">
        <li><b>Dance Menu:</b> The dance menu will drop down to show all of the dance styles that we have cataloged. Clicking on any of the dances will filter the list to just those songs that can be danced to that style.  You can also see a list of dance styles on our <a href="/dances">dances page</a>.</li>
        <li><b>Text Search:</b> Type the name of an artist or title of a song or a tag (like musical genre) here, click the search button to the right and get a list of the songs that include those words in the title, artist or tags.</li>
        <li><b>More Options:</b> Clicking on this button will get you a few more options, including the ability to filter on a specific tempo range and limit your search to just songs that are linked to a particular streaming or purchase service (<a href="/song/advancedsearch?services=I">ITunes</a>, <a href="/song/advancedsearch?services=A">Amazon</a>, <a href="/song/advancedsearch?services=S">Spotify</a>, and <a href="/song/advancedsearch?services=X">Xbox Music</a>).</li>
        <li><b>Play/Buy Buttons:</b> The play buttons will open a menu of the different places where you can listen to all or part of a song and purchase the song.  Please note that you must turn off pop-up blockers for this to work correctly and each service has a different set of questions that it will ask you before you get to actually playing the song.  This is much smoother the second time you use any particular service.</li>
        <li><b>Song Title, Artist and Tempo:</b> Click on the "Title", "Artist" or "Tempo" column headers to sort the current list by song title or artist name, clicking again on the same header will sort in the other direction.  Clicking on any song title will take you to a page with additional details about the song.  Clicking on an Artist's name will take you to a list of songs by that artist.</li>
        <li><b>Dances:</b> Clicking on the Dances column will sort the songs by popularity.  Each dance tag includes a popularity rating shown on how "filled up" the musical note is next to the dance name.</li>
        <li><b>Dance Popover:</b> Clicking on any of the dance tags will open up a 'popover' with more info - clicking again on the same tag will close the 'popover'.  The popover always contains two links, one that will take you to the dance page for that dance style that includes a description the dance style, a top ten list and more. Dance names with an asterick next to them have additional tags on the association between the song and the dance style.</li>
        <li><b>Tags Header:</b> The tag header lists the tags that are included and excluded in your current search.  Clicking on the 'x' in the header tag will remove it from the filter.</li>
        <li><b>Tags:</b> Each song has a list of tags associated with the song.  Most of the current tags are musical genre tags (dark green), but we're starting to roll out a beta that allows our customers to add other kinds of tags and where possible when we're sourcing new music we tag it appropriately, for instance the Dancing with the Stars music is tagged as such.  You can add tags to either the included or the excluded list by clicking on a tag in the song list and choosing include or exclude.</li>
        <li><b>Spotify Control:</b> If you have the Spotify Player installed, this control will play all of the songs in the current list that are linked to spotify tracks.</li>
    </ul>
</div>

<div class="row col-md-12">
    <p>Don't see your style of dance here? <a href="mailto:david@music4dance.net">Let us know</a> and we'll be happy to expand our catalog.</p>
    <p>Don't agree with how we've organized dance styles? Well, we're not convinced there is a "right way" but we're doing some research to see if we can find a better way (or maybe multiple ways).  Please help us out by <a href="https://www.music4dance.net/blog/help-how-would-you-group-this-dance-style/">taking our survey</a> so that we can include your ideas about how to organize dance styles in the future.</p>
    <p>Do you use a different streaming provider or purchase your music from a different source? <a href="mailto:david@music4dance.net">Tell us about it</a> and we'll take a look into expanding our support.</p>
</div>

<div class="row col-xs-12"><hr /></div>

<div id="tools" class="row col-md-12">
    <h1 class="tools">Tools</h1>
    <p class="neutral">
        Do you have a favorite song (or songs) that you would like to match to a dance style? Use our <a href="/home/counter">dance counter page</a> to help you answer that question.
    </p>
    <p class="neutral">
        Are you curious about how fast quickstep is compared to jive? Or are you starting practice to competition tempo music and aren't quite sure what tempo to dance Paso Doble to? Use our <a href="/home/tempi">dance tempi page</a> to explore the relationships between dance tempi as well as the tempi prescribed for partern dances by several organizations that regulate dance competitions.
    </p>
    <p class="neutral">
        We have more useful tools for dancers coming soon. <a href="mailto:david@music4dance.net">Let us know</a> if you have an idea for a tool that could help match music to dances or otherwise help dancers find music.
    </p>
</div>

<div class="row col-xs-12"><hr /></div>

<div id="info" class="row col-md-12">
    <h1 class="blog">Info</h1>
    <p class="neutral">
        Are you looking for more information on how music relates to dance, follow our <a href="https://www.music4dance.net/blog">blog</a>.
    </p>
    <h4 class="blog">Introducing Music4Dance.Net/Blog</h4>
    <p class="neutral">I’m an amateur dancer and with some training in music who also happens to be a professional software engineer. I love dancing... <a href="https://www.music4dance.net/blog/hello-world/">[Read more]</a> </p>
    <h4 class="blog">The Two Questions that Inspired Music4Dance</h4>
    <p class="neutral">As a beginning ballroom dancer there were two questions that kept coming up... <a href="https://www.music4dance.net/blog/the-two-questions-that-inspired-music4dance/">[Read more]</a> </p>
    <h4 class="blog">Question 1: I’m learning to Cha Cha, where is some great music for practicing?</h4>
    <p class="neutral">So how do I do that?  Dance generally co-evolves with music, so to get a very traditional song... <a href="https://www.music4dance.net/blog/question-1-im-learning-to-cha-cha-where-is-some-great-music-for-practicing/">[Read more]</a> </p>
    <h4 class="blog">Question 2: What dance styles can I dance to my favorite song(s)?</h4>
    <p class="neutral">One of the things that amazes me about the best dance teachers... <a href="https://www.music4dance.net/blog/question-2-what-dance-styles-can-i-dance-to-my-favorite-songs/">[Read more]</a></p>
    <h4 class="blog">The Pink Martini Solution</h4>
    <p class="neutral">
        Not all artists are created equal when it comes to creating dance-able music. For instance... <a href="https://www.music4dance.net/blog/the-pink-martini-solution/">[Read more]</a>
        <h4 class="blog">Help: How would you group this dance style?</h4>
    <p class="neutral">
        One of the fun things about learning more about different dance styles is... <a href="https://www.music4dance.net/blog/help-how-would-you-group-this-dance-style/">[Read more]</a>
        <h4 class="blog">The “Dancing with the Stars” Solution</h4>
    <p class="neutral">
        I learned to dance in part because <a href="http://www.imdb.com/title/tt0092890/?ref_=nv_sr_1"><i>Dirty Dancing</i></a> made me want to be Johnny Castle... <a href="https://www.music4dance.net/blog/the-dancing-with-the-stars-solution/">[Read more]</a>
    </p>
</div>