@using m4d.ViewModels
<h1>Site Map</h1>

<div class="row">
    @foreach (var type in new string[] {"music", "info", "tools"})
    {
        <div class="@type col-sm-4">
            @foreach (var category in SiteMapInfo.Categories.Where(c => c.Type == type))
            {
                <h2>@category.Name</h2>
                <ul>
                    @foreach (var entry in category.Entries)
                    {
                        <li>
                            @if (entry is SiteMapDance)
                            {
                                <span>@entry.Title: <a href="@entry.FullPath" class="@type">Info</a>, <a href="@((entry as SiteMapDance).CatalogFullPath)" class="@type">List</a></span>
                            }
                            else
                            {
                                <a href="@entry.FullPath" class="@type">@entry.Title</a>
                                if (category.Type == "tools" && entry.Description != null)
                                {
                                    <span>: @entry.Description</span>
                                }
                                if (@entry.Children != null)
                                {
                                    <ul>
                                        @foreach (var child in entry.Children)
                                        {
                                            <li><a href="@child.FullPath" class="@type">@child.Title</a></li>
                                        }
                                    </ul>
                                }
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>
