@using m4d.ViewModels

@helper MapEntry(SiteMapEntry entry, string type)
{
    <a href="@entry.FullPath" class="@type">@entry.Title</a>
    if (@entry.Children != null)
    {
            <ul>
                @foreach (var child in entry.Children)
                {
                    <li>@MapEntry(child,type)</li>
                }
            </ul>
        }
    }
}

<h1>Site Map</h1>

<div class="row">
    @foreach (var type in new [] {"music", "info", "tools"})
    {
        <div class="@type col-sm-4">
            @foreach (var category in SiteMapInfo.Categories.Where(c => c.Type == type))
            {
                <h2>@category.Name</h2>
                <ul>
                    @foreach (var entry in category.Entries)
                    {
                        <li>
                            @if (entry is SiteMapDance)
                            {
                                <span>@entry.Title: <a href="@entry.FullPath" class="@type">Info</a>, <a href="@((entry as SiteMapDance).CatalogFullPath)" class="@type">List</a></span>
                            }
                            else
                            {
                                @MapEntry(entry,type)
                                if (category.Type == "tools" && entry.Description != null)
                                {
                                    <span>: @entry.Description</span>
                                }
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>
