@using m4d.ViewModels
@model m4dModels.PlayList

@{
    ViewBag.Title = "Undelete";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildUsersTrail(ViewBag.Title);
var filteredUser = ViewBag.FilteredUser as string;
}

<h1>@ViewBag.Title</h1>
<hr/>

<h3>Are you sure you want to restore this playlist?</h3>
<div>
    <partial name="_playlistDetails" model="@Model"/>

    @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("user", filteredUser)

    <div class="form-actions no-color">
            <input type="submit" value="Undelete" class="btn btn-primary"/> |
            @Html.ActionLink("Back to List", "Index", new { Model.Type, user = filteredUser, showDeleted = true })
        </div>
}
</div>
