@using System.Runtime.Serialization.Json

@{
    SongFilter filter = ViewData.ContainsKey("SongFilter") ? ViewBag.SongFilter : SongFilter.Default;
    if (filter.SortOrder == null)
    {
        filter.SortOrder = string.Empty;
    }
    var isAzure = filter.IsAzure;

    var danceQuery = filter.DanceQuery;
    var description = filter.Description;

    ViewBag.Title = "Advanced Search";
    ViewBag.Description = "music4dance advanced search form: " + description;

    var dances = (IList<DanceStats>)ViewBag.Dances;

    var userQuery = filter.UserQuery;
    if (userQuery.IsAnonymous && !string.IsNullOrWhiteSpace(User.Identity.Name)) { userQuery = new UserQuery(userQuery, User.Identity.Name); }

    var userName = (userQuery.IsEmpty || userQuery.IsAnonymous) ? User.Identity.Name : userQuery.UserName;

    if (string.IsNullOrWhiteSpace(userName))
    {
        userQuery = userQuery.IsEmpty ? new UserQuery("null") : new UserQuery(userQuery, User.Identity.Name);
        userName = userQuery.UserName;
    }
    else if (userQuery.IsEmpty && !userQuery.IsNull)
    {
        userQuery = new UserQuery(User.Identity.Name, false, false);
    }
}

@helper Service(string id, string name, string purchase)
{
    <label class="checkbox-inline">
        <input type="checkbox" name="services" id="@("service" + id)" value=@id @(purchase == null || !purchase.Contains(id) ? string.Empty : "checked") />
        <span>@name</span>
    </label>
}

@helper Bonus(int id, string name, int? cruft)
{
    <label class="checkbox-inline">
        <input type="checkbox" name="bonusContent" id="@("service" + id)" value=@id @(cruft == null || (cruft & id) == 0 ? string.Empty : "checked") />
        <span>@name</span>
    </label>
}
@*@helper UserOption(string queryString, string text, UserQuery query)
    {
        <option value="@queryString" @(string.Equals(queryString,query.Query,StringComparison.OrdinalIgnoreCase) ? "selected" : string.Empty)>@text</option>
    }*@

@helper UserOption(UserQuery query, string userName, bool? include, bool? like)
{
    var u = userName ?? UserQuery.AnonymousUser;
    var nq = include.HasValue ? new UserQuery(u, include.Value, like) : new UserQuery("null");

    <option value="@nq.Query" @(string.Equals(nq.Query, query.Query, StringComparison.OrdinalIgnoreCase) ? "selected" : string.Empty)>@nq.ActionDescription</option>
}


@helper SortOrder(string name, string order, string label = null)
{
    var sort = new SongSort(order);
    if (label == null)
    {
        label = name;
    }
    <label class="form-inline" style="font-weight:normal; margin-right:1.5em">
        <input type="radio" name="sortOrder" value="@name" @(string.Equals(sort.Id, name, StringComparison.OrdinalIgnoreCase) || (name == "Closest Match" && string.IsNullOrWhiteSpace(sort.Id)) ? "checked" : string.Empty)> @label
    </label>
}


@Html.Partial("ItemTags")

<div class="row">
    <h1 class="col-sm-12" style="font-size: 22px; text-align: center">
        Advanced Song Search
    </h1>
</div>
<div class="row">
    <p class="col-sm-4 col-sm-offset-2">@Html.ActionLink("Saved Searches", "index", "searches", new { user = @userName, filter }, new { id = "saved-search" })</p>
    <p class="col-sm-4" style="text-align: right">
        @(isAzure ? Html.ActionLink("Simple Search", "AzureSearch", "song", null, new { id = "basic-search", data_type = "azure+simple" }) : Html.ActionLink("Basic Search", "index", "song", null, new { id = "basic-search", data_type = "index" }))
    </p>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="font-size: 16px; border: 40px solid;">
        @using (Html.BeginForm("advancedsearch", "Song", FormMethod.Get, new { id = "search", @class = "form-horizontal" }))
        {
            <div class="form-group" style="margin-top: 1em; margin-bottom: 1em">
                <div class="col-sm-2">
                    <label for="search-text" class="control-label search-label">Keywords:</label>
                </div>
                <div class="col-sm-9 col-md-10">
                    @Html.TextBox("SearchString", filter.SearchString, new { id = "search-text", @class = "form-control search-text", placeholder = isAzure ? "search string" : "Artist, Title, or Album" })
                </div>
                <input type="hidden" name="dances" id="dances" value="@filter.Dances" />
                <input type="hidden" name="filter" id="filter" value="@filter.ToString()" />
                <input type="hidden" name="tags" id="tags" />
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="chosen-dances" class="control-label search-label">Dance styles:</label>
                </div>
                <div class="col-sm-5">
                    <select id="chosen-dances" class="chosen-select" style="padding-right: 15px" multiple data-placeholder="Choose some dance styles...">
                        @foreach (var d in dances)
                        {
                            var set = danceQuery.HasDance(d.DanceId) ? "selected" : "";
                            <option value="@d.DanceId" @set>@d.DanceName</option>
                            foreach (var ds in d.Children)
                            {
                                set = danceQuery.HasDance(ds.DanceId) ? "selected" : "";
                                <option value="@ds.DanceId" @set>@ds.DanceName</option>
                            }
                        }
                    </select>
                </div>
                <div id="dance-boolean" class="col-sm-2" style="padding-left: 15px">
                    <label class="inline">
                        <input type="radio" name="db" id="db-any" value="any" @(danceQuery.IsExclusive ? string.Empty : "checked") />Any
                    </label>&nbsp;&nbsp;
                    <label class="inline">
                        <input type="radio" name="db" id="db-all" value="all" @(danceQuery.IsExclusive ? "checked" : string.Empty) />All
                    </label>
                </div>
                <div id="dance-inferred" class="col-sm-3" style="padding-left: 15px">
                    <label class="inline">
                        <input type="checkbox" name="dx" id="inferred" @(danceQuery.IncludeInferred ? "checked" : string.Empty) />Include Inferred
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label search-label">Tempo range (BPM):</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBox("TempoMin", filter.TempoMin, new { @class = "input-sm" })&nbsp;to&nbsp;
                    @Html.TextBox("TempoMax", filter.TempoMax, new { @class = "input-sm" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label search-label">Include tags:</label>
                </div>
                <div class="col-sm-9">
                    <span data-bind="template: {name:'tag-template',foreach:includeTags.TagSummary.tagTypes}"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label search-label">Exclude tags:</label>
                </div>
                <div class="col-sm-9">
                    <span data-bind="template: {name:'tag-template',foreach:excludeTags.TagSummary.tagTypes}"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label search-label">My Activity:</label>
                </div>
                <div class="col-sm-9">
                    <select id="user" name="user">
                        @UserOption(userQuery, userName, null, null)
                        @UserOption(userQuery, userName, false, true)
                        @UserOption(userQuery, userName, false, false)
                        @UserOption(userQuery, userName, false, null)
                        @UserOption(userQuery, userName, true, true)
                        @UserOption(userQuery, userName, true, false)
                        @UserOption(userQuery, userName, true, null)
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="services" class="control-label search-label">Available on:</label>
                </div>
                <div class="col-sm-9">
                    @Service("A", "Amazon", filter.Purchase)
                    @Service("I", "Itunes", filter.Purchase)
                    @Service("S", "Spotify", filter.Purchase)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="sortOrder" class="control-label search-label">Sort By:</label>
                </div>
                <div class="col-sm-9">
                    @SortOrder("Title", filter.SortOrder)
                    @SortOrder("Artist", filter.SortOrder)
                    @SortOrder("Tempo", filter.SortOrder)
                    @SortOrder("Dances", filter.SortOrder, "Dance Rating")
                    @SortOrder("Modified", filter.SortOrder, "Last Modified")
                    @SortOrder("Created", filter.SortOrder, "When Added")
                    @SortOrder("Energy", filter.SortOrder)
                    @SortOrder("Mood", filter.SortOrder)
                    @SortOrder("Beat", filter.SortOrder, "Strength of Beat")
                    @SortOrder("Closest Match", filter.SortOrder)
                </div>
                <div class="col-sm-offset-2 col-sm-9">
                    <label class="form-inline" style="font-weight: normal; margin-right: 1.5em">
                        <input type="radio" name="sortDirection" value="Ascending" @(!filter.SortOrder.EndsWith("_desc", StringComparison.OrdinalIgnoreCase) ? "checked" : string.Empty)> Ascending (A-Z, Slow-Fast, Newest-Oldest)
                    </label>
                    <label class="form-inline" style="font-weight: normal; margin-right: 1.5em">
                        <input type="radio" name="sortDirection" value="Descending" @(filter.SortOrder.EndsWith("_desc", StringComparison.OrdinalIgnoreCase) ? "checked" : string.Empty)> Descending (Z-A, Fast-Slow, Oldest-Newest)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="bonusContent" class="control-label search-label">Bonus Content:</label>
                </div>
                <div class="col-sm-9">
                    @Bonus(1, "Not found in any publisher catalog", filter.Level)
                    @Bonus(2, "Not categorized by dance", filter.Level)
                    <label class="checkbox-inline">
                        <a href="https://www.music4dance.net/blog/music4dance-help/subscriptions/">(Premium Feature)</a>
                    </label>
                </div>
            </div>

            <div class="form-group">
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <span class="input-group-btn">
                        <button id="reset-search" class="btn btn-default" type="reset">Reset</button>
                    </span>
                </div>
                <div class="col-sm-offset-10" style="text-align: right; margin-right: 15px;">
                    <span class="input-group-btn">
                        <button id="submit-search" class="btn btn-default" type="submit">Search <span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <p class="col-sm-8 col-sm-offset-2" style="text-align: center; margin-top: 10px">Try <a href="https://www.crowdnote.org">crowdnote.org</a> for a different browsing experience.</p>
</div>

@Html.Partial("_TagEditor")

@section Scripts
{
    @{
        <script>var userName = '@userName'</script>
        if (danceQuery.IsExclusive)
        {
            <script>var danceOr = false</script>
        }
        else
        {
            <script>var danceOr = true</script>
        }

        if (danceQuery.IncludeInferred)
        {
            <script>var danceInferred = true</script>
        }
        else
        {
            <script>var danceInferred = false</script>
        }

        string filterString = null;
        if (ViewData.ContainsKey("SongFilter"))
        {
            var stream = new MemoryStream();
            var serializer = new DataContractJsonSerializer(typeof(SongFilter));
            serializer.WriteObject(stream, ViewBag.SongFilter);
            filterString = System.Text.Encoding.UTF8.GetString(stream.ToArray());
        }
        <script>window.songFilter = @(filterString == null ? null : Html.Raw(filterString));</script>
    }
    @*External Libraries*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-mapping")
    @Scripts.Render("~/bundles/tools-script")

    @*Local Scripts*@
    @Scripts.Render("~/bundles/tagchooser")
    @Scripts.Render("~/bundles/advancedsearch")

    @*Style Sheets for external libraries*@
    @Styles.Render("~/bundles/tools-style")
}
