@model AlbumDetails

<div class="display-field">
    @if (!string.IsNullOrWhiteSpace(Model.Name))
    {
        @Html.ActionLink(Model.Name, "album", "song", new { title = Model.Name }, null);
    }
</div>
@if (Model.Track != null)
{
    <div class="display-field">
        @Model.FormattedTrack
    </div>
}
@if (Model.Publisher != null)
{
    <div class="display-label">
        Publisher:
    </div>
    <div class="display-field">
        @Model.Publisher
    </div>
}
@Html.Partial("_PurchaseLinks",Model.PurchaseLinks)
@*@foreach (var link in @Model.PurchaseLinks)
{
    <button id="@xid" type="button"><img src="@Url.Content("~/Content/xbox-logo.png")" alt="Availiable on Groove" width="20" height="20" /></button>
    <a href="@link.Link"></a>
}*@

@if (User.IsInRole("showDiagnostics") && Model.HasPurchaseInfo)
{
<div class="display-label">
    Purchase: @Model.PurchaseInfo
</div>
}
