@using m4dModels
@using m4d.ViewModels
@model m4dModels.Song

@{
    ViewBag.Title = Model.Title;
    var filter = ViewData.ContainsKey("SongFilter") ? ViewBag.SongFilter : new SongFilter();
}

<partial name="DetailsCore" />

<div class="row">
    <div id="songDetails" class="col-md-12">
        <partial name="_UndoUser" model="new UndoUserModel {Song=Model, Filter=filter}" />

        @if (User.IsInRole("showDiagnostics"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.SongId, filter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.SongId, filter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Cleanup Albums", "CleanupAlbums", new { id = Model.SongId, filter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Cleanup Purchase", "CleanMusicServices", new { id = Model.SongId, filter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Cleanup Spotify", "CleanMusicServices", new { id = Model.SongId, type = "SG", filter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Rebuild Ratings", "UpdateRatings", new { id = Model.SongId, filter }, new { @class = "btn btn-small btn-default", role = "button" })
        }
    </div>
</div>

@if (User.IsInRole("showDiagnostics"))
{
    <hr />
    <div class="row">
        <div id="songLog" class="col-md-12">
            <br />
            <partial name="SongItems" model="Model.SongProperties" />
        </div>
    </div>

    <hr />
    <div class="row">
        <div id="songDump" class="col-md-12">
            @using (Html.BeginForm("AdminEdit", "Song", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="songId" value="@Model.SongId" />
                <input type="hidden" name="filter" value="@filter.ToString()" />
                <input type="text" name="properties" value="@Model.ToString()" />
                <button type="submit">AdminEdit</button>
            }
        </div>
    </div>

    <hr />
    <div class="row">
        <div id="users" class="col-md-6">
            @*@if (Model.ModifiedBy != null)
                {
                    var tags = new List<Tag>();
                    if (Model.Tags != null)
                    {
                        tags.AddRange(Model.Tags);
                    }
                    <b>Undo Changes for:</b>
                    foreach (var mr in Model.ModifiedBy)
                    {
                        var utags = tags.Where(t => t.UserId == mr.ApplicationUserId).ToList();
                        @UserHelper.UndoUser(Html, Model, filter, mr.UserName)
                        if (utags.Any())
                        {
                            <ul>
                                @foreach (var tag in utags)
                                {
                                    tags.Remove(tag);
                                    <li>@tag.Id <b>@tag.Tags.ToString()</b></li>
                                }
                            </ul>
                        }
                    }
                    if (tags.Any())
                    {
                        <ul>
                            @foreach (var tag in tags)
                            {
                                <li>@tag.Id <b>@tag.Tags.ToString()</b></li>
                            }
                        </ul>
                    }
                }*@
        </div>
        <div id="sample" class="col-md-6">
            @if (Model.Sample != null)
            {
                <b>Sample:</b> @Model.Sample
            }
        </div>
    </div>
}

@section Scripts {
    @{
        var scripts = new ScriptModel
        {
            IncludeTools = true,
            DevelopmentFiles = new[] { "counter", "tagchooser", "edit" },
            ReleaseFiles = new[] { "songdetails", },
        };
    }

    <partial name="_scriptInclude" model="@scripts" />
}

@section Styles {
    <partial name="_toolsStyles" />
}
