@using m4dModels
@using m4d.ViewModels
@using Microsoft.AspNetCore.Identity
@model Song
@inject UserManager<ApplicationUser> UserManager

<partial name="SetupSongScript" />

@{
    SongFilter filter = ViewData.ContainsKey("SongFilter") ? ViewBag.SongFilter : new SongFilter();
    var isAuthenticated = User.Identity.IsAuthenticated;
    var user = isAuthenticated ? UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result : null;
}

<div class="page-header">
    <h1>
        @if (isAuthenticated)
        {
            <a class="btn btn-sm btn-info" role="button" data-show="tooltip" data-placement="right" data-bind="attr: {'data-original-title':song.liketip},click:toggleVote">
                <img data-bind="attr: {src:song.voteImage}" />
            </a>
        }
        @Model.Title
        @if (!string.IsNullOrWhiteSpace(@Model.Artist))
        {
            <small>by @Html.ActionLink(Model.Artist, "artist", "song", new { name = Model.Artist }, null)</small>
        }
    </h1>
</div>
@{
    var region = user?.Region;
    if (string.IsNullOrWhiteSpace(region))
    {
        region = "US";
    }
}
<partial name="ItemTags" />

<div class="row">
    <div class="col-md-12">
        <span class="hidden-xs">
            @{
                ViewBag.UseLogo = false;
                <partial name="_PurchaseLinks" model="@Model.GetPurchaseLinks("AIS", region)"/>
            }
        </span>
        <span class="visible-xs">
            @{
                ViewBag.UseLogo = true;
                <partial name="_PurchaseLinks" model="@Model.GetPurchaseLinks("AIS", region)"/>
            }
        </span>
        <a class="btn btn-ml btn-help" href="https://music4dance.blog/music4dance-help/playing-or-purchasing-songs/" role="button"><span class="glyphicon glyphicon-question-sign"></span></a>
        @Html.ActionLink("Back to Search Results", filter.TargetAction, new { filter }, new { @class = "btn btn-ml btn-primary", role = "button" })
        <a href="#" role="button" class="btn btn-ml btn-primary" data-bind="visible:changed, click:saveRatings">Save</a>
    </div>
</div>

<div class="row">
    <fieldset>
        <div class="col-sm-3">
            @if (Model.Length != null)
            {
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Length):
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Length, "SongDuration")
                </div>
                <br />
            }
        </div>
        <div class="col-sm-3">
            @if (Model.Tempo != null)
            {
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Tempo):
                </div>
                <div class="display-field">
                    @decimal.Round(Model.Tempo.Value).ToString("F0") BPM
                </div>
                <br />
            }
        </div>
    </fieldset>
</div>

@if (Model.TagSummary.Tags.Count != 0 || User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <h4>
                <span data-bind="template: {name:'tag-template',foreach:song.TagSummary.tagTypes}"></span>
            </h4>
        </div>
    </div>
}

@if (Model.Danceability.HasValue)
{
    <div class="row">
        <div class="col-md-12">
            <partial name="_EchoValues" model="new EchoValuesModel {Song = Model, Size = 35, Description = true}"/>
        </div>
    </div>
}

@if (Model.DanceRatings != null)
{
    <div class="row" style="padding-top: 5px">
        <partial name="Dances"/>
    </div>
}

@if (Model.Sample != null && Model.Sample != ".")
{
    <div class="row" style="padding-bottom: 10px">
        <h2 class="col-sm-2">Preview:</h2>
        <audio controls class="col-sm-8">
            <source src="@Model.Sample" type="audio/mpeg" />
            Your browser does not support audio.
        </audio>
    </div>
}

@if (Model.HasAlbums)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Albums</h3>
                </div>
                <ul class="panel-body list-group">
                    @foreach (var album in Model.Albums)
                    {
                        <li class="list-group-item"><partial name="AlbumDetails" model="album"/></li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

<div class="row">
    <fieldset>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Created):
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Created)
            </div>
            <br />
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Modified):
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Modified)
            </div>
        </div>
    </fieldset>
</div>

<partial name="_TagEditor"/>

