@model Song

@{
    ViewBag.Title = "Edit";
    ViewBag.Action = "Edit";
    ViewBag.Submit = "Save";
}

<h2>Edit</h2>

@Html.Partial("EditCore")

<div>
    @Html.ActionLink("Back to List", ((SongFilter)ViewBag.SongFilter).TargetAction, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@if (ViewData.ContainsKey("Errors"))
{
    <div>
        @foreach (Exception error in ViewBag.Errors)
        {
            <p>@error.Message</p>
        }
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tools-script")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-mapping")
    @Scripts.Render("~/bundles/counter")
    @Scripts.Render("~/bundles/tagchooser")
    @Scripts.Render("~/bundles/edit")

    @Styles.Render("~/bundles/tools-style")
}
