@model m4d.ViewModels.ServiceSearchResults

<h2>Music Service Search: @Model.Song.Title</h2>

<div>
    <h4>Status = @ViewBag.Status</h4>

    @Html.Partial("DetailsCore",Model.Song)
</div>

@using (Html.BeginForm("MusicServiceSearch","Song",FormMethod.Get))
{ 
    <input type="hidden" name="id" value="@Model.Song.SongId" />
    <input type="hidden" name="type" value="@ViewBag.Type" />
    <span>Title: </span> <input type="text" name="title" value="@ViewBag.SongTitle" />
    <span>Artist: </span> <input type="text" name="artist" value="@ViewBag.SongArtist" />
    <input type="hidden" name="filter" value="@ViewBag.SongFilter"/>
    <input type="submit" value="Retry" />
}            

@if (!ViewBag.Error) 
{
    <div>
    <h4>Repsonse:</h4>

    @{
    foreach (var track in Model.Tracks)
    {
        string length = null;
        if (track.Duration.HasValue)
        {
            DanceLibrary.SongDuration duration = new DanceLibrary.SongDuration((decimal)track.Duration);
            length = duration.ToString("M");
        }

        <div>
            @if (track.ImageUrl != null)
            {
                <img src="@track.ImageUrl" height="50" width="50"/>
            }
            <b>Name:</b>@track.Name<br />
            <b>Album:</b>@track.Album<br />
            <b>Artist:</b>@track.Artist<br />
            <b>Track Link:</b><a href="@track.SongLink">@track.SongLink.Link</a><br />
            @if (track.Album != null)
            {
                <b>Album Link:</b><a href="@track.AlbumLink">@track.SongLink.Link</a><br />
            }
            <b>Id:</b>@track.TrackId<br />
            @if (track.AltId != null)
            {
                <b>OtherId:</b>@track.AltId<br />
            }
            @if (track.CollectionId != null)
            {
                <b>CollectionId:</b>@track.CollectionId<br />
            }
            <b>ReleaseDate:</b> @track.ReleaseDate<br />
            <b>Duration:</b> @length<br />
            <b>TrackNumber:</b> @track.TrackNumber<br />
            @if (track.Genre != null)
            {
                <b>Genre:</b>@track.Genre<br />
            }

            @using (Html.BeginForm("ChooseMusicService","Song",new { type=@Model.ServiceType, songId = Model.Song.SongId, name = track.Name, album = track.Album, artist = track.Artist, trackId = track.TrackId, collectionId = track.CollectionId, alternateId = track.AltId, duration = track.Duration, trackNum = track.TrackNumber, genre=track.Genre, filter=ViewBag.SongFilter }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="CHOOSE" />
            }
            <br/>
            <br />
            <br />
        </div>
        }
    }
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Song.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
    @Html.ActionLink("Back to List", ((SongFilter)ViewBag.SongFilter).TargetAction, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</p>
