@model PagedList.IPagedList<Song>

@{
    SongFilter filter = ViewData.ContainsKey("SongFilter") ? ViewBag.SongFilter : SongFilter.AzureSimple;

    ViewBag.Title = "New Music for Dancing";
    ViewBag.Description = "music4dance catalog: " + filter.Description;
    const string recentlyAdded = @"Most Recently Added Songs";
    const string recentlyChanged = @"Most Recently Changed Songs";
    const string catalog = @"Songs to Catalog";
}

@Html.Partial("_SetupFilterScript")

<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/dances">Songs</a></li>
    <li class="active">New Music</li>
</ol>

<H1>New Music</H1>

<H2>
    @if (string.Equals(filter.SongSort.Id, "Created", StringComparison.OrdinalIgnoreCase))
    {
        if (filter.Level == 0)
        {
            <span>
                @Html.ActionLink(recentlyAdded, "NewMusic", new {type = "Created"}) |
                @recentlyChanged |
                @Html.ActionLink(catalog, "NewMusic", new {type = "Catalog"})
            </span>
        }
        else
        {
            <span>
                @Html.ActionLink(recentlyAdded, "NewMusic", new { type = "Created" }) |
                @Html.ActionLink(recentlyChanged, "NewMusic", new { type = "Modified" }) | 
                @catalog
            </span>
        }
    }
    else
    {
        <span>
            @Html.ActionLink(recentlyAdded, "NewMusic", new {type = "Created"}) |
            @Html.ActionLink(recentlyChanged, "NewMusic", new {type = "Modified"}) |
            @catalog
        </span>
    }
</H2>

@{
    Html.RenderPartial("_ListSongs", Model, ViewData);
}

@SongHelper.SearchFooter(Html, Url, Model, filter, true)

<p class="big-text">If you would like to find recent additions/changes for specific styles of dance (like Swing or Foxtrot): visit the @Html.ActionLink("advanced search page","AdvancedSearchForm") , choose the "Sort By" option of "When Added" or "Last Modified" as well as the Dance style, or styles you would like to see. More information on advanced search is available on the <a href="https://www.music4dance.net/blog/music4dance-help/advanced-search/">advanced search help page</a>.</p>

@if (User.IsInRole("showDiagnostics") && ViewData.ContainsKey("RawSearch"))
{
    @SongHelper.ShowRawSearch(ViewBag.RawSearch)
}

@if (User.IsInRole("showDiagnostics") && filter.IsRaw)
{
    <div class="row">
        <div class="col-md-12">
            <b>Query String: </b>@(new RawSearch(filter).QueryString())
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryautocomplete")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-mapping")
    @Scripts.Render("~/bundles/tools-script")
    @Scripts.Render("~/bundles/musicservice")
    @Scripts.Render("~/bundles/tagchooser")
    @Scripts.Render("~/bundles/catalog")
    @Scripts.Render("~/bundles/azuresearch")

    @Styles.Render("~/bundles/tools-style")
}
