@model IEnumerable<UndoResult>

@{
    ViewBag.Title = "Undo Results";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Message
        </th>
        <th>
            SID
        </th>
        <th>
            LID
        </th>
        <th>
            User Name
        </th>
        <th>
            Time
        </th>
        <th>
            Action
        </th>
        <th>
            Signature
        </th>
        <th>
            Data
        </th>
    </tr>

    @foreach (var item in Model) {
        var message = "Internal Error";
    
        var LID = item.Result.GetIntData(SongBase.SuccessResult);
        if (LID.HasValue)
        {
            message = "Success";
        }
        else
        {
            LID = item.Result.GetIntData(SongBase.FailResult);
            if (LID.HasValue)
            {
                message = "Failed: " + item.Result.GetData(SongBase.MessageData);
            }
        }
        
        <tr>
            <td>
                @message
            </td>
            <td>
                @if (!item.Original.SongReference.Equals(Guid.Empty))
                {
                    @Html.ActionLink(item.Original.SongReference.ToString("B"), "Details", "Song", new { id = item.Original.SongReference }, null);
                }
            </td>
            <td>
                @LID.Value
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.SongSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Original.Data)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Show Log", "Index")
@Html.ActionLink("Download Log", "Lines")

