@using m4d.ViewModels
@using m4dModels
@model IEnumerable<m4dModels.Search>

@{
    ViewBag.Title = "My Searches";
SongFilter filter = ViewData.ContainsKey("SongFilter") ?
    ViewBag.SongFilter : SongFilter.GetDefault(User.Identity.Name);
var admin = User.IsInRole("showDiagnostics");
var showDetails = ViewData.ContainsKey("ShowDetails") ? ViewBag.ShowDetails : false;
var sort = ViewData.ContainsKey("Sort") ? ViewBag.Sort : "";
var spotifyOnly = ViewData.ContainsKey("SpotifyOnly") ? ViewBag.SpotifyOnly : false;
var popularClass = !string.Equals(sort, "recent") ? "btn btn-primary" : "btn btn-outline-primary";
var recentClass = string.Equals(sort, "recent") ? "btn btn-primary" : "btn btn-outline-primary";
var userName = ViewBag.User;

ViewData["BreadCrumbs"] = new List<BreadCrumbItem>
{
    BreadCrumbItem.HomeItem,
    new()
    {
        Title = userName,
        Link = "/Identity/Account/Manage"
    },
    new()
    {
        Title = ViewBag.Title,
        Active = true
    }
};
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <p class="col-sm">
        @Html.ActionLink("Basic Search", "index", "song", new
    {
        user = userName
    }, new
    {
        id = "saved-search"
    })
    </p>
    <p class="col-sm" style="text-align: right; padding-right: 20px">
        @Html.ActionLink("Advanced Search", "advancedsearchform", "song", new
    {
        filter
    }, new
    {
        id = "advanced-search"
    })
    </p>
</div>

<div class="row" style="margin-bottom: 10px">
    <div class="btn-group btn-group-justified col-sm" role="group" aria-label="...">
        @Html.ActionLink("Most Popular", "Index", "Searches", new
    {
        showDetails,
        spotifyOnly,
        user = userName,
        filter
    }, new
    {
        role = "button",
        @class = popularClass
    })
        @Html.ActionLink("Most Recent", "Index", "Searches", new
    {
        showDetails,
        spotifyOnly,
        user = userName,
        sort = "recent",
        filter
    }, new
    {
        role = "button",
        @class = recentClass
    })
    </div>
</div>

<div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="spotifyOnlySwitch"
                @(spotifyOnly ? "checked" : "")
                onchange="window.location.href='@Url.Action("Index", "Searches", new { showDetails, spotifyOnly = !spotifyOnly, user = userName, sort })'">
            <label class="form-check-label" for="spotifyOnlySwitch">Spotify Only</label>
        </div>
    </div>
</div>

<div class="row">
	<partial name="_SearchesCore" model="Model" />
</div>

@if (admin)
{
    @Html.ActionLink("Toggle Details", "Index", "Searches", new
{
    showDetails = !showDetails,
    spotifyOnly,
    user = userName,
    sort
}, null)
}
@if (userName != "all")
{
<div class="row mt-2">
    <div class="col-sm">
        @Html.ActionLink("Clear My Search History", "DeleteAll", "Searches", new
    {
        sort,
        showDetails,
        spotifyOnly
    }, new
    {
        @class = "btn btn-outline-danger btn-sm"
    })
    </div>
</div>
}
