@model SongDatabase.Models.SongDetails

@{
    ViewBag.Title = "Details";
}

<hgroup>
<h1>@Html.DisplayFor(model => model.Title)</h1>
<h2>Details</h2>
</hgroup>

<section id="songDetails">

@Html.Partial("DetailsCore")

<p>
    @if (User.IsInRole("canEdit"))
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.SongId }) 
        @Html.Display(" | ")
        @Html.ActionLink("Delete", "Delete", new { id=Model.SongId }) 
        @Html.Display(" | ")
        @Html.ActionLink("XBox", "XBoxSearch", new { id = Model.SongId })
        @Html.Display(" | ")
    }
    @Html.ActionLink("Back to List", (string)ViewBag.BackAction)
</p>
</section>
@if (User.IsInRole("showDiagnostics"))
{
<section id="songLog">
    <h2>Log</h2>
    @Html.Partial("SongItems",Model.Song)
</section>
}