@model IEnumerable<SongDatabase.Models.Song>

@{
    ViewBag.Title = "Songs for Dancing";
}

<h2>Songs for Dancing</h2>

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
*@
<table>
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort})
        </th>
        <th>
            @Html.ActionLink("Artist", "Index", new { sortOrder = ViewBag.ArtistSort})
        </th>
        <th>
            @Html.ActionLink("Album", "Index", new { sortOrder = ViewBag.AlbumSort})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>
