@model SongDatabase.Models.Song

@{
    ViewBag.Title = "XboxSearch";
}

<h2>XboxSearch</h2>

<div>
    <h4>Song</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase)
        </dd>

    </dl>
</div>

<div>
<h4>Repsonse:</h4>
<p>@ViewBag.Results</p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
