@model SongDatabase.Models.Song

@{
    ViewBag.Title = "XboxSearch";
}

<h2>XboxSearch</h2>

<div>
    <h4>Status = @ViewBag.Status</h4>

    <h4>Song</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleHash)
        </dd>

    </dl>
</div>

@if (ViewBag.Error)
{
    using (@Html.BeginForm("XboxSearch","Song",FormMethod.Get))
    { 
        <input type="hidden" name="id" value="@Model.SongId" />
        <input type="text" name="search" value="@ViewBag.Search" />
        <input type="submit" value="Retry" />
    }            
}
else { 
    <div>
    <h4>Repsonse:</h4>
    
    @{
        var resp = ViewBag.Results;
        var tracks = resp.Tracks;
        var items = tracks.Items;
        
        foreach (var track in items)
        {
            string tracklink = @track.Link + "?action=addtocollection";
            string altId = null;
            <div>
                @if (track.ImageUrl != null)
                {
                    <img src="@track.ImageUrl" height="50" width="50"/>
                }
                <b>Name:</b>@track.Name<br />
                <b>Album:</b>@track.Album.Name<br />
                <b>Artist:</b>@track.Artists[0].Artist.Name<br />
                <b>Link:</b><a href="@track.Link" target="bogus">@tracklink</a><br />
                <b>Id:</b>@track.Id<br />
                @if (@track.OtherIds != null)
                {
                    try
                    {
                        altId = tracks.OtherIds.music_amg;                        
                        <b>OtherId:</b>@altId<br />
                    }
                    catch (Microsoft.CSharp.RuntimeBinder.RuntimeBinderException)
                    {  
                    }
                }            
                <b>ReleaseDate:</b>@track.ReleaseDate<br />
                <b>Duration:</b>@track.Duration<br />
                <b>TrackNumber:</b>@track.TrackNumber<br />


                @using (Html.BeginForm("ChooseXbox","Song",new { songId = Model.SongId, name = track.Name, album = track.Album.Name, artist = track.Artists[0].Artist.Name, trackId = track.Id, alternateId = altId, duration = track.Duration, trackNum = track.TrackNumber }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="CHOOSE" />
                }
                <br/>
                <br />
                <br />
            </div>
        }
    }

    <p>@ViewBag.ResultString</p>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.AntiForgeryToken()