@using m4d.Controllers
@using Microsoft.AspNet.Identity
@model ApplicationUserManager

@{
    ViewBag.Title = "Index";
    var activeUsers = string.Join(",",AccountController.ActiveUsers);
}

<h2>User Administrator</h2>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@

<hr/>
<h3>Actions</h3>

<p><strong>Active Users:</strong> @activeUsers</p>
<p>@Html.ActionLink("New Pseudo User", "Create", null, new { @class = "btn btn-default", role = "button" })</p>

<hr />
<h3>Users</h3>
<table class="table">
    <tr>
        @*
    <th>
        @Html.DisplayNameFor(model => model.PasswordHash)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SecurityStamp)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
    </th>
        *@
        <th>
            LOS
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Signed Up
        </th>
        <th>
            Signed In
        </th>
        <th>
            Roles
        </th>
        <th>
            Logins
        </th>
        <th>
            EMC
        </th>
        <th>
            Lock-End
        </th>
        <th>
            AFC
        </th>
        <th>
            RCD
        </th>
        <th>
            Columns
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Users.OrderByDescending(u => u.StartDate).ToList())
{
    <tr>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
            *@
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.ActionLink(item.UserName, "Details", new { id = item.Id })
            @if (AccountController.IsUserActive(item.UserName))
            {
                @: *
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @item.StartDate.ToString("d")
        </td>
        <td>
            @if (item.LastActive == DateTime.Parse("1/1/1900"))
            {
                @:Never
            }
            else
            {
                @item.LastActive.ToString("d")
            }

        </td>
        <td>
            @string.Join(",",Model.GetRoles(item.Id))
        </td>
        <td>
            @string.Join(",",Model.GetLogins(item.Id).Select(l => l.LoginProvider))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowCountDefault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnDefaults)
        </td>
        <td>
            @Html.ActionLink("Change Roles", "ChangeRoles", new { id = item.Id }),
            @Html.ActionLink("List Songs", "FilterUser", "Song", new { user = item.UserName }, null),
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @*
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            *@
        </td>
    </tr>
}
</table>

