@helper TryIt(string url)
{
    <a class="label label-music" href="@url"><span class="glyphicon glyphicon-play-circle"></span> Try It!</a>
}

@helper Docs(string url)
{
    <a class="label label-style" href="@url"><span class="glyphicon glyphicon-file"></span> Documentation</a>
}

@helper Posts(string url)
{
    <a class="label label-other" href="@url"><span class="glyphicon glyphicon-pencil"></span> Blog Posts</a>
}

@helper TempiTool()
{
    <dt><img src="~/Content/tools.png" alt="tools" width="24" height="24" />Explore relationships between the meter and tempi of different dance styles and find songs that match.</dt>
    <dd style="margin-left: 4em">@TryIt("https://www.music4dance.net/home/tempi") @Docs("https://www.music4dance.net/blog/music4dance-help/dance-tempi/") @Posts("https://www.music4dance.net/blog/tag/tempo/")</dd>
}