@using Microsoft.AspNet.Identity
@model m4d.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li class="active">@User.Identity.GetUserName()</li>
</ol>

<h3>Welcome @Model.Name</h3>

    <hr/>
    <div>
        <h4>@Html.ActionLink("My Profile","UserProfile")</h4>
    </div>
    <hr/>
    <div>
        <h4>@Html.ActionLink("Account Settings", "Settings")</h4>
    </div>
    <hr/>
    <div>
        <h4>@Html.ActionLink("My Songs", "FilterUser", "Song", new { user = @User.Identity.GetUserName() }, null)</h4>
    </div>
    <hr/>
    <div>
        <h4><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></h4>
    </div>
