@using m4d.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    var help = "https://music4dance.blog/music4dance-help/";
    if (!string.IsNullOrEmpty(ViewBag.Help))
    {
        help = string.Format("https://music4dance.blog/music4dance-help/{0}/", ViewBag.Help);
    }
}
<!DOCTYPE html>
@{
}
<html>
<head>
    @await RenderSectionAsync("styles", false)
    <partial name="_head"/>
</head>

<body>
    <div id="app"></div>

@if (ViewBag.BreadCrumbs != null)
{
    List<BreadCrumbItem> breadCrumbs = ViewBag.BreadCrumbs;
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: .25rem .5rem">
            @foreach (var item in breadCrumbs)
            {
                if (item.Active.HasValue && item.Active.Value)
                {
                    <li class="breadcrumb-item active" aria-current="page">@item.Title</li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@item.Link">@item.Title</a>
                    </li>
                }
            }
        </ol>
    </nav>
}

<div id="body-content" class="container-fluid body-content">
    @RenderBody()
</div>

<div id="footer-content">
    <hr/>
    <footer>
        <p>
            &copy; @DateTime.Now.Year - Music4Dance.net -
            @Html.ActionLink("Site Map", "sitemap", "Home") -
            @Html.ActionLink("Terms of Service", "termsofservice", "Home") -
            @Html.ActionLink("Privacy Policy", "privacypolicy", "Home") -
            @Html.ActionLink("Credits", "credits", "Home") -
            <a href="@help">Help</a>
        </p>
    </footer>
</div>

<script asp-src-include="/client/js/chunk-vendors.*.js"></script>
<script asp-src-include="/client/js/chunk-common.*.js"></script>
<script asp-src-include="/client/js/header.*.js"></script>

<environment include="Development">
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.js"></script>
</environment>

<environment exclude="Development">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            asp-fallback-src="~/vendor/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
            crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"
            asp-fallback-src="~/vendor/jquery-validation/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI= sha384-6UVI3atWyL/qZbDIJb7HW8PyHhFNMiX5rYNY2gAYcaYJjYk5cNIQShSQPBleGMYu sha512-0QDLUJ0ILnknsQdYYjG7v2j8wERkKufvjBNmng/EdR/s/SE7X8cQ9y0+wMzuQT0lfXQ/NhG+zhmHNOWTUS3kMA=="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            asp-fallback-src="~/vendor/bootstrap/bootstrap.min.js"
            asp-fallback-test="$.fn.modal"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</environment>

@await RenderSectionAsync("scripts", false)
</body>
</html>