@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>
@{
    ViewBag.BootstrapVersion = 4;
    var help = "https://music4dance.blog/music4dance-help/";
    if (!string.IsNullOrEmpty(ViewBag.Help))
    {
        help = string.Format("https://music4dance.blog/music4dance-help/{0}/",ViewBag.Help);
    }
}
<html>
<head>
    @if (!User.IsInRole("premium"))
    {
        <!-- Google Adsense Verifier -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
            console.log("Ads are paused");
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8181165353763371",
                enable_page_level_ads: true
            });
            if (document.cookie.indexOf("cookieconsent_status=dismiss") !== -1) {
                console.log("Ads are running");
                (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 0;
            }
        </script>
    }
    <!-- TradeDoubler site verification 2516966 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music4Dance: Shall we dance...to music?</title>
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description"/>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Canonical))
    {
        <link rel="canonical" href="@ViewBag.Canonical"/>
    }

    <link rel="shortcut icon" href="~/images/favicon.png"/>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Merienda:700" rel="stylesheet" type="text/css">
    @{
        var theme = "tools";
        if (!string.IsNullOrEmpty(ViewBag.Theme))
        {
            theme = ViewBag.Theme;
        }
        var themeBundle = "/css/" + theme + "-theme.css";
    }
    
    <link rel="stylesheet" href="/css/site.css"/>
    @RenderSection("styles", false)
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54250212-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load",
            function() {
                window.cookieconsent.initialise({
                    palette: {
                        "popup": {
                            "background": "#1d8a8a"
                        },
                        "button": {
                            "background": "#62ffaa"
                        }
                    },
                    onStatusChange: function(status) {
                        console.log('Status Changed to: ' + status);
                        if (status === "dismiss" || status === "allow") {
                            console.log("Ads are running");
                            (window.adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
                        }
                    },
                    theme: "classic",
                    content: {
                        "href": "home/privacypolicy#GDPR"
                    }
                });
            });
    </script>
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'2e182d53-a9ad-404f-9c8a-8a6debcab49a'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top" role="navigation" style="padding: 0rem 1rem">
        <a href="/" class="navbar-brand">
            <img src="/images/header-logo.png" height="40" title="music4dance" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Music<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            @Html.ActionLink("Dances", "index", "dances", null, htmlAttributes: new { @class = "dropdown-item" })
                            <ul style="list-style-type: none" role="menu">
                                <li>@Html.ActionLink("Ballroom", "ballroom-competition-categories", "dances", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Latin", "latin", "dances", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Swing", "swing", "dances", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Tango", "tango", "dances", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Song Library", "index", "song", null, htmlAttributes: new { @class = "dropdown-item" })
                            <ul style="list-style-type: none" role="menu">
                                <li>@Html.ActionLink("Advanced Search", "advancedsearchform", "song", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            </ul>
                            <ul style="list-style-type: none" role="menu">
                                <li>@Html.ActionLink("Add Song", "augment", "song", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            </ul>
                            <ul style="list-style-type: none" role="menu">
                                @Html.ActionLink("New Music", "newmusic", "song", new { type = "Created" }, new { @class = "dropdown-item" })
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Wedding", "wedding-music", "dances", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Holiday", "holiday-music", "dances", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Tags", "index", "tag", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tools<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>@Html.ActionLink("Tempo Counter", "counter", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Tempi (Tempos)", "tempi", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Info<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="@help" class="dropdown-item">Help</a></li>
                        <li><a href="https://music4dance.blog" class="dropdown-item">Blog</a></li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("About Us", "About", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li><a href="https://music4dance.blog/reading-list/" class="dropdown-item">Reading List</a></li>
                        <li>@Html.ActionLink("Site Map", "sitemap", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Privacy Policy", "privacypolicy", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Credits", "credits", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item">@Html.ActionLink("Contribute", "Contribute", "Home", null, new { @class = "nav-link" })</li>
                @if (User.IsInRole("showDiagnostics"))
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Index", "Index", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Users", "Index", "ApplicationUsers", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Tags", "Tags", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Diagnostics", "Diagnostics", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Initialization and Cleanup", "InitializationTasks", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Song Scrapers", "Scraping", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("PlayLists", "Index", "PlayList", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            @if (User.IsInRole("dbAdmin"))
                            {
                                <li>@Html.ActionLink("Uploads and Backups", "UploadBackup", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Music4Dance.net -
                    @Html.ActionLink("Site Map", "sitemap", "Home") - 
                    @Html.ActionLink("Terms of Service","termsofservice","Home") - 
                    @Html.ActionLink("Privacy Policy", "privacypolicy","Home") - 
                    @Html.ActionLink("New Credits", "credits", "Home") - 
                    <a href="@help">Help</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/vendor/jquery/jquery.js"></script>
        <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
        <script src="~/vendor/bootstrap/bootstrap.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                asp-fallback-src="~/vendor/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
                crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"
                asp-fallback-src="~/vendor/jquery-validation/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI= sha384-6UVI3atWyL/qZbDIJb7HW8PyHhFNMiX5rYNY2gAYcaYJjYk5cNIQShSQPBleGMYu sha512-0QDLUJ0ILnknsQdYYjG7v2j8wERkKufvjBNmng/EdR/s/SE7X8cQ9y0+wMzuQT0lfXQ/NhG+zhmHNOWTUS3kMA=="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/vendor/bootstrap/bootstrap.min.js"
                asp-fallback-test="$.fn.modal"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
