@model m4d.ViewModels.EchoHeaderModel

@{
    var tips = new Dictionary<string, string>
{
        {"Beat", "Strength of the beat (fuller icons represent a stronger beat). Click to sort by strength of the beat."},
        {"Mood", "Mood of the song (fuller icons represent a happier mood). Click to sort by mood."},
        {"Energy", "Energy of the song (fuller icons represent a higher energy). Click to sort by energy."},
    };

    var title = tips[Model.Type];
}

@if (Model.CanSort)
{
    var img = $"/images/icons/{Model.Type}-{Model.SongOrder.GetDirectionString(Model.Type)}.png";
    var href = $"/song/sort?sortOrder={Model.Type}&filter{Model.Filter}";
    <a href="@href"><img src="@img" width="25" height="25" data-toggle="tooltip" data-placement="bottom" data-container="body" title="@title" /></a>
}
else
{
    title = title.Substring(0, title.IndexOf('.')+1);
    var img = $"/images/icons/{Model.Type}-10.png";
    <img src="@img" width="25" height="25" alt="@Model.Type" data-toggle="tooltip" data-placement="bottom" data-container="body" title="@title"/>
}