@using m4dModels
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _xsrf
@inject UserManager<ApplicationUser> _userManager
@inject ISearchServiceManager _searchService

@{
    var userAgent = Context.Request.Headers.UserAgent.ToString().ToLower();
    var help = "https://music4dance.blog/music4dance-help/";
    if (!string.IsNullOrEmpty(ViewBag.Help))
    {
        help = string.Format("https://music4dance.blog/music4dance-help/{0}/", ViewBag.Help);
    }

    string userName = "";
    string userId = "";
    string expiration = null;
    var roles = DanceMusicCoreService.UserRoles(User);
    if (User.Identity.IsAuthenticated)
    {
        userName = User.Identity.Name;
        var user = await _userManager.GetUserAsync(User);
        userId = user.Privacy == 0 ? user.Id : "";
        expiration = roles.Contains(DanceMusicCoreService.PremiumRole) ? user.SubscriptionEnd.ToString() : null;
    }
    var searchIndex = _searchService.DefaultId.Last();
}

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return _xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@if (!User.IsInRole("premium") && !userAgent.Contains("googlebot") )
{
    <!-- Google Adsense Verifier -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
        console.log("Ads are paused");
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8181165353763371",
            enable_page_level_ads: true
        });
        if (document.cookie.indexOf("cookieconsent_status=dismiss") !== -1) {
            console.log("Ads are running");
            (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 0;
        }
    </script>
}
<!-- TradeDoubler site verification 2516966 -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Music4Dance: Shall we dance...to music?</title>
@if (!string.IsNullOrEmpty(ViewBag.Description))
{
    <meta name="description" content="@ViewBag.Description"/>
}
@if (!string.IsNullOrEmpty(ViewBag.Canonical))
{
    <link rel="canonical" href="@ViewBag.Canonical"/>
}

<link rel="shortcut icon" href="~/images/favicon.png"/>
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Merienda:700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/css/site.css"/>

<!-- TODONEXT: Get date parsing working -->
<script>
    var menuContext = {
        helpLink: '@help',
        userName: '@userName',
        userId: '@userId',
        roles: @Html.Raw(JsonConvert.SerializeObject(roles)),
        indexId: '@searchIndex',
        expiration: @Html.Raw(expiration == null ? "undefined" : $"new Date('{expiration}')"),
        xsrfToken: '@GetAntiXsrfRequestToken()'
    };
</script>

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54250212-1', 'auto');
    ga('send', 'pageview');
</script>

<script> 
    var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2022.03 }; 
    function $buo_f(){ 
        var e = document.createElement("script"); 
        e.src = "//browser-update.org/update.min.js"; 
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load",
        function() {
            window.cookieconsent.initialise({
                palette: {
                    "popup": {
                        "background": "#1d8a8a"
                    },
                    "button": {
                        "background": "#62ffaa"
                    }
                },
                onStatusChange: function(status) {
                    console.log('Status Changed to: ' + status);
                    if (status === "dismiss" || status === "allow") {
                        console.log("Ads are running");
                        (window.adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
                    }
                },
                theme: "classic",
                content: {
                    "href": "home/privacypolicy#GDPR"
                }
            });
        });
</script>