@using Microsoft.AspNetCore.Identity
@using m4dModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ISearchServiceManager SearchService;

@{
    var bootstrap4 = ViewBag.BootstrapVersion == 4;
    var mainClass = bootstrap4 ? "navbar-nav ml-auto" : "nav navbar-nav navbar-right";
    var itemClass = bootstrap4 ? "nav-link" : "";
    var dropDownClass = "dropdown" + (bootstrap4 ? " nav-item" : "");
    var dropDownItem = bootstrap4 ? "dropdown-item" : "";
    var dropDownToggle = "dropdown-toggle" + (bootstrap4 ? " nav-link" : "");
}

<ul class="@mainClass">
    @if (SignInManager.IsSignedIn(User))
    {
        var modifier = "";
        if (User.IsInRole("showDiagnostics"))
        {
            modifier = "(" + SearchService.DefaultId.Last() + ")";
        }

        <li class="@dropDownClass">
            <a href="#" class="@dropDownToggle" data-toggle="dropdown">
                @(UserManager.GetUserName(User) + modifier) <img src="~/images/swing-ui.png" alt="User Icon" height="30" width="30" />
                &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a id="manage" class="@dropDownItem" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a></li>
                <li>@Html.ActionLink("My Songs", "FilterUser", "Song", new { user = UserManager.GetUserName(User) }, new { @class = @dropDownItem})</li>
                <li>@Html.ActionLink("My Searches", "Index", "Searches", new { user = UserManager.GetUserName(User) }, new { @class = @dropDownItem})</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="@dropDownItem">Log out</a></li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a class="@itemClass" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
         </li>
         <li>
             <a class="@itemClass" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
         </li>
    }
</ul>

<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
    <button style="visibility: hidden" id="logout" type="submit" class="btn btn-link"></button>
</form>
