@model ErrorModel
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    @{
        var message = Model.Message;
        if (string.IsNullOrWhiteSpace(message))
        {
            switch (Model.HttpStatusCode)
            {
                case 404:
                    message = "The page you requested wasn't found.";
                    break;
                case 500:
                    message = string.Concat("The following server error was encountered:<br /> ", Model.Exception.Message);
                    if (Model.Exception.InnerException != null)
                    {
                        message += string.Format(" ({0})", Model.Exception.InnerException.Message);
                    }
                    break;
            }
        }
    }

    @Html.Raw(message)
</div>

<div>
    <h3>Here are a few things to try:</h3>
    <ul>
        <li>Try our <a href="https://www.music4dance.net/dances">dances page</a> if you're looking for information about a particular dance style.</li>
        <li>Try our <a href="https://www.music4dance.net/song">songs page</a> if you're looking for dance information about a particular song or artist.</li>
        <li>Try our <a href="https://www.music4dance.net/blog">blog</a> if you're looking for information about relating music to dance.</li>
        <li>Try our <a href="https://www.music4dance.net/home/sitemap">site map</a> or our <a href="https://www.music4dance.net/home">home page</a> if you want to see what we have to offer.</li>
        <li>If all else fails please Contact us at <a href="mailto:info@music4dance.net">info@music4dance.net</a> or through our <a href="https://www.music4dance.net/blog/feedback/">feedback form</a> and let us know what went wrong.</li>
    </ul>
</div>


@if ((TraceLevels.General.TraceVerbose || User.IsInRole("showDiagnostics")) && Model != null  && Model.Exception != null)
{
    string hresult = "0x" + Model.Exception.HResult.ToString("X8");
    <p><b>Exception:</b>@Model.Exception.Message (@hresult)</p>
    if (Model.Exception.InnerException != null)
    {
        <p><b>Inner Exception:</b>@Model.Exception.InnerException.Message</p>
    }
    <p><b>Target Site:</b>@Model.Exception.TargetSite</p>

    <h3>Stack Trace:</h3>
    string[] frames = Model.Exception.StackTrace.Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
    <ul>
        @foreach (string s in frames)
        {
            <li>@s</li>
        }
    </ul>
}
