@using m4d.ViewModels
@using m4dModels
@model m4dModels.ErrorModel
@{
    ViewBag.Title = "Error";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildInfoTrail(ViewBag.Title);
}

<h2>Error</h2>
<div>
    @{
        var message = Model.Message;
        if (string.IsNullOrWhiteSpace(message))
        {
            switch (Model.HttpStatusCode)
            {
                case 404:
                    message = "The page you requested wasn't found.";
                    break;
                case 500:
                    message = string.Concat("The following server error was encountered:<br /> ", Model.Exception.Message);
                    if (Model.Exception.InnerException != null)
                    {
                        message += $" ({Model.Exception.InnerException.Message})";
                    }
                    break;
            }
        }
    }

    @Html.Raw(message)
</div>

<div>
    <h3>Here are a few things to try:</h3>
    <ul>
        <li class="big-text">Try our <a href="https://www.music4dance.net/dances">dances page</a> if you're looking for information about a particular dance style.</li>
        <li class="big-text">Try our <a href="https://www.music4dance.net/song">songs page</a> if you're looking for dance information about a particular song or artist.</li>
        <li class="big-text">Try our <a href="https://music4dance.blog">blog</a> if you're looking for information about relating music to dance.</li>
        <li class="big-text">Try our <a href="https://www.music4dance.net/home/sitemap">site map</a> or our <a href="https://www.music4dance.net/home">home page</a> if you want to see what we have to offer.</li>
        <li class="big-text">If all else fails please Contact us at <a href="mailto:info@music4dance.net">info@music4dance.net</a> or through our <a href="https://music4dance.blog/feedback/">feedback form</a> and let us know what went wrong.</li>
    </ul>
    <h3>Would you like a reward for finding a bug?</h3>
    <p>We have established a bug bounty.  If you've found a bug and would like a reward, please see <a href="https://music4dance.blog/bug-report/">here</a> for details.</p>
</div>


@if ((TraceLevels.General.TraceVerbose || User.IsInRole("showDiagnostics")) && Model?.Exception != null)
{
    string hresult = "0x" + Model.Exception.HResult.ToString("X8");
    <p><b>Exception:</b>@Model.Exception.Message (@hresult)</p>
    if (Model.Exception.InnerException != null)
    {
        <p><b>Inner Exception:</b>@Model.Exception.InnerException.Message</p>
    }
    <p><b>Target Site:</b>@Model.Exception.TargetSite</p>

    <h3>Stack Trace:</h3>
    string[] frames = Model.Exception.StackTrace.Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
    <ul>
        @foreach (string s in frames)
        {
            <li>@s</li>
        }
    </ul>
}
