@model PagedList.IPagedList<SongBase>
@*@using System.Runtime.Serialization.Json*@
@using PagedList.Mvc;

@{
    ViewBag.NoSort = true;
    SongFilter filter = ViewData.ContainsKey("SongFilter") ? ViewBag.SongFilter : SongFilter.AzureSimple;

    var description = filter.Description;
    var isSimple = filter.IsSimple;

    ViewBag.Title = "Songs for Dancing";
    ViewBag.Description = "music4dance catalog: " + description;

    var userName = filter.UserQuery.IsEmpty ? User.Identity.Name : filter.UserQuery.UserName;
}

<div class="row">
    <h1 class="col-sm-12" style="width: auto; font-size: 22px;">Search Songs (BETA)</h1>
</div>

@Html.Partial("ItemTags")

@using (Html.BeginForm("AzureSearch", "Song", FormMethod.Get, new {id = "search"}))
{
    <div class="row">
        <div class="input-group col-sm-12" style="padding-left: 15px">
            @Html.TextBox("SearchString", filter.SearchString, new { @class = "form-control search-text", placeholder = "search string", id = "search-text" })
            <span class="input-group-btn">
                <button id="submit-search" class="btn btn-default" type="submit" style="margin-right: 15px"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
   </div>
}
<div class="row">
    <p class="col-xs-6"> @Html.ActionLink("Saved Searches", "index", "searches", new {user = @userName, filter}, new {id = "saved-search"})</p>
    @if (isSimple)
    {
        <p class="col-xs-4" style="text-align: right">@Html.ActionLink("Classic Search", "index", "song", null, new { id = "basic-search" })</p>
    }
    else
    {
        <p class="col-xs-6" style="text-align: right; padding-right:20px">@Html.ActionLink(isSimple ? "Switch to Advanced" : "Switch to Simple", "AzureSearch", "song", new { filter = filter.ToggleMode() }, new { id = "search-mode" })</p>
    }
    @*<p class="col-xs-6" style="text-align: right; padding-right:20px">@Html.ActionLink(isSimple ? "Switch to Advanced" : "Switch to Simple", "AzureSearch", "song", new { filter=filter.ToggleMode() }, new { id = "search-mode" })</p>*@
</div>

@{ Html.RenderPartial("_ListSongs", @Model, ViewData);}

<div class="row">
    <div class="col-sm-6">
        @Html.PagedListPager(Model, page => Url.Action("AzureSearch", new {filter,page}))
    </div>
    <div class="col-sm-6 pagination-align">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        (@Model.TotalItemCount songs found.)
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryautocomplete")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-mapping")
    @Scripts.Render("~/bundles/tools-script")
    @Scripts.Render("~/bundles/musicservice")
    @Scripts.Render("~/bundles/tagchooser")
    @Scripts.Render("~/bundles/catalog")
    @Scripts.Render("~/bundles/azuresearch")


    @Styles.Render("~/bundles/tools-style")
}
