
@{
    ViewBag.Title = "Batch Music Service Lookup";
}

@if(ViewBag.Completed)
{
    <h2>Done!</h2>
}

<h2>Succeeded (@ViewBag.Succeeded.Count)</h2>
<ul class="list-group">
    @foreach (m4dModels.SongDetails item in ViewBag.Succeeded)
    {
        <li class="list-group-item">@item.Title - @item.Artist</li>
    }
</ul>
<h2>Failed (@ViewBag.Failed.Count)</h2>
<ul class="list-group">
    @foreach (m4dModels.Song item in ViewBag.Failed)
    {
        <li class="list-group-item">@item.Title - @item.Artist</li>
    }
</ul>

<h2>Skipped = @ViewBag.Skipped</h2>

@if (!ViewBag.Completed)
{
    @Html.ActionLink("10", "BatchMusicService", new { filter = ViewBag.SongFilter, type=ViewBag.SearchType, options=ViewBag.Options, count = 10 }, new { @class = "btn btn-default", role = "button" });
    @Html.ActionLink("100", "BatchMusicService", new { filter = ViewBag.SongFilter, type = ViewBag.SearchType, options = ViewBag.Options, count = 100 }, new { @class = "btn btn-default", role = "button" });
    @Html.ActionLink("500", "BatchMusicService", new { filter = ViewBag.SongFilter, type = ViewBag.SearchType, options = ViewBag.Options, count = 500 }, new { @class = "btn btn-default", role = "button" });
}
