@model m4dModels.SongDetails

@{
    ViewBag.Title = "Create";
    ViewBag.Action = "Create";
    ViewBag.Submit = "Create";
}

<h2>Create</h2>

@Html.Partial("EditCore")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @{
        string pageScript = "~/Scripts/edit.js" + Page.ScriptQualifier;
        string counterScript = "~/Scripts/counter.js" + Page.ScriptQualifier;
        if (ViewData.ContainsKey("paramNumerator"))
        {
            <script>var paramNumerator = @ViewBag.paramNumerator;</script>
        }
    }
    <script>
        var paramShowMPM = true;
        var paramShowBPM = true;
        var paramEpsVisible = 0.1;
        var songId = "@Model.SongId.ToString()";
        var albums = [];
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.nouislider.full.min.js")" type="text/javascript"></script>
    <script>
        $(".chzn-select").chosen({ width: "500px" });
    </script>
    <script src="@Url.Content(pageScript)" type="text/javascript"></script>
    <script src="@Url.Content(counterScript)" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.nouislider.css" rel="stylesheet" />
    <link href="~/Content/jquery.nouislider.pips.css" rel="stylesheet" />
}
