@model SongDetails

@{
    ViewBag.Title = "Create";
    ViewBag.Action = "Create";
    ViewBag.Submit = "Create";
}

<h2>Create</h2>

@Html.Partial("EditCore")

<div>
    @Html.ActionLink("Back to List", (string)ViewBag.SongFilter.Action, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@section Scripts {
    @{
        string tagChooserScript = "~/Scripts/tagchooser.js" + Page.ScriptQualifier;
        string pageScript = "~/Scripts/edit.js" + Page.ScriptQualifier;
        string counterScript = "~/Scripts/counter.js" + Page.ScriptQualifier;
    }
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tools-script")
    @Scripts.Render("~/bundles/knockout")
    <script src="@Url.Content(counterScript)" type="text/javascript"></script>
    <script src="@Url.Content(tagChooserScript)" type="text/javascript"></script>
    <script src="@Url.Content(pageScript)" type="text/javascript"></script>

    @Styles.Render("~/bundles/tools-style")
}
