@model m4dModels.SongDetails

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h1>@Html.DisplayFor(model => model.Title)</h1>
        </hgroup>
    </div>
</div>

<div class="row">
    <div id="songDetails" class="col-md-6">
        @Html.Partial("DetailsCore")
        <div>
            @if (User.IsInRole("canEdit"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
                @Html.ActionLink("XBox", "XBoxSearch", new { id = Model.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            }
            @Html.ActionLink("Back to List", (string)ViewBag.SongFilter.Action, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
        </div>
    </div>
    <hr />
    <div>
        @foreach (m4dModels.PurchaseLink link in Model.GetPurchaseLinks())
        {
            string target = string.Empty;
            if (link.Target != null)
            {
                target = "target='" + link.Target + "'";
            }
            <a href="@link.Link" @Html.Raw(target)><img src='@Url.Content("~/Content/" + @link.Charm)' alt='@link.AltText' /></a>
        }
    </div>
    @if (User.IsInRole("showDiagnostics"))
    {
        <div id="songLog" class="col-md-6">
            <br />
            @Html.Partial("SongItems", Model.Properties.OrderBy(sp => sp.Id))
        </div>
    }
</div>
