@model m4d.ViewModels.SongDetails

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h1>@Html.DisplayFor(model => model.Title)</h1>
        </hgroup>
    </div>
</div>

<div class="row">
    <div id="songDetails" class="col-md-6">
        @Html.Partial("DetailsCore")
        <div>
            @if (User.IsInRole("canEdit"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }, new { @class = "btn btn-small btn-default", role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.SongId }, new { @class = "btn btn-small btn-default", role = "button" })
                @Html.ActionLink("XBox", "XBoxSearch", new { id = Model.SongId }, new { @class = "btn btn-small btn-default", role = "button" })
            }
            @Html.ActionLink("Back to List", (string)ViewBag.BackAction, null, new { @class = "btn btn-small btn-primary", role = "button" })
        </div>
    </div>
    <hr />
    <div>
        @foreach (m4d.ViewModels.PurchaseLink link in Model.GetPurchaseLinks())
        {
            <a href="@link.Link"><img src="@Url.Content("~/Content/" + @link.Charm)" alt="@link.AltText" /></a>
        }
    </div>
    @if (User.IsInRole("showDiagnostics"))
    {
        <div id="songLog" class="col-md-6">
            <br />
            @Html.Partial("SongItems", Model.Song)
        </div>
    }
</div>
