@model m4dModels.SongDetails

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h1>@Html.DisplayFor(model => model.Title)</h1>
        </hgroup>
    </div>
</div>

@Html.Partial("DetailsCore")
<div class="row">
    <div id="songDetails" class="col-md-12">
        @if (User.IsInRole("canEdit"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.SongId, filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("XBox", "MusicServiceSearch", new { id = Model.SongId, type = "X", filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("ITunes", "MusicServiceSearch", new { id = Model.SongId, type = "I", filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Amazon", "MusicServiceSearch", new { id = Model.SongId, type = "A", filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-default", role = "button" })
            @Html.ActionLink("Next XBox", "BatchMusicService", new { filter = ViewBag.SongFilter, type = "X", count = 1 }, new { @class = "btn btn-small btn-primary", role = "button" })
            @Html.ActionLink("Next Itunes", "BatchMusicService", new { filter = ViewBag.SongFilter, type = "I", count = 1 }, new { @class = "btn btn-small btn-primary", role = "button" })
            @Html.ActionLink("Next Amazon", "BatchMusicService", new { filter = ViewBag.SongFilter, type = "A", count = 1 }, new { @class = "btn btn-small btn-primary", role = "button" })
        }
    </div>
</div>

@if (User.IsInRole("showDiagnostics"))
{
    <hr />
    <div class="row">
        <div id="songLog" class="col-md-12">
            <br />
            @Html.Partial("SongItems", Model.Properties.OrderBy(sp => sp.Id))
        </div>
    </div>

    <hr />
    <div class="row">
        <div id="songDump" class="col-md-12">
            <code style="white-space:pre">@Model.ToString()</code>
        </div>
    </div>
}
