@model SongDetails

@{
    ViewBag.Title = "Edit";
    ViewBag.Action = "Edit";
    ViewBag.Submit = "Save";
}

<h2>Edit</h2>

@Html.Partial("EditCore")

<div>
    @Html.ActionLink("Back to List", (string)ViewBag.SongFilter.Action, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@if (ViewData.ContainsKey("Errors"))
{
    <div>
        @foreach (Exception error in ViewBag.Errors)
        {
            <p>@error.Message</p>
        }
    </div>    
}
@section Scripts {
    @{
        string pageScript = "~/Scripts/edit.js" + Page.ScriptQualifier;
        string counterScript = "~/Scripts/counter.js" + Page.ScriptQualifier;
    }

    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.livequery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nouislider.full.min.js" type="text/javascript"></script>
    <script src="@Url.Content(counterScript)" type="text/javascript"></script>
    <script src="@Url.Content(pageScript)" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css"/>
    <link href="~/Content/jquery.nouislider.css" rel="stylesheet"/>
    <link href="~/Content/jquery.nouislider.pips.css" rel="stylesheet"/>
}
