@using m4dModels
@model SongDetails

@Html.Partial("SetupSongScript")

@using (Html.BeginForm((string)ViewBag.Action, "Song", null, FormMethod.Post, new { @class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    SongDetails old = null;
    ViewBag.UseLogo = true;

    try
    {
        old = ViewBag.OldSong;
    }
    catch (Microsoft.CSharp.RuntimeBinder.RuntimeBinderException)
    {

    }

    @Html.HiddenFor(m => m.SongId)

    <div class="form-group row">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", size="50" })
            @Html.ValidationMessageFor(model => model.Title)
            <div class="editor-alternate" id="alt-title">
                @if (old != null && !string.IsNullOrWhiteSpace(old.Title))
                {
                    <a href="#" role="button" class="btn btn-link">@old.Title</a>
                }
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        @Html.LabelFor(model => model.Artist, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Artist, new { @class = "form-control", size = "50" })
            @Html.ValidationMessageFor(model => model.Artist)
            <div class="editor-alternate" id="alt-artist">
                @if (old != null && !string.IsNullOrWhiteSpace(old.Artist))
                {
                    <a href="#" role="button" class="btn btn-link">@old.Artist</a>
                }
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        @Html.LabelFor(model => model.Length, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Length, "SongDuration")            

            <div class="editor-alternate" id="alt-length">
                @if (old != null && old.Length != null)
                {
                    <a href="#" role="button" class="btn btn-link">@Html.DisplayFor(model => old.Length.Value,"SongDuration")</a>
                }
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Tempo, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tempo)
            @Html.ValidationMessageFor(model => model.Tempo)
            <a href="#" id="toggle-count" class="btn btn-sm btn-default"><span id="toggle-count-display" class="glyphicon glyphicon-arrow-down"></span></a>

            <div class="editor-alternate" id="alt-temp">
                @if (old != null && old.Tempo != null)
                {
                    <a href="#" role="button" class="btn btn-link">@old.Tempo</a>
                }
            </div>
        </div>
    </div>
    <div class="form-group" id="counter-control">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <button id='count' type=button class="btn btn-lg btn-primary btn-block">Count</button>
                <div>@Html.Partial("_MeterChooser")</div>
                <div id="dances" class="list-group"></div>
            </div>
        </div>
        <div class="row col-md-8 col-md-offset-2" id="epsilon">
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" id="epsilon"></div>
        </div>
        <div class="row">
            <span class="col-md-offset-2 col-md-4">LESS</span>
            <span class="col-md-4" style="text-align:right">MORE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>
                @Html.Partial("ItemTags")
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-top: 5px">
            @Html.Partial("Dances")
        </div>
    </div>
    
    <hr class="row col-md-12" />
    <div class="row col-md-12">
        <table>
            <tr><td></td><td class="album-header">Album</td><td class="track-header">Track</td><td class="publisher-header">Label</td><td class="delete-header"></td></tr>
            <tbody data-bind="foreach: song.Albums">
                <tr data-bind="attr: {id: 'Album_' + $index()}">
                    <td>
                        <div data-bind="ifnot: $index() == 0">
                            <a href="#" class="btn btn-sm btn-default">
                                <span id="toggle-count-display" class="glyphicon glyphicon-arrow-up" data-bind="click:$root.song.promoteAlbum"></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input data-bind="attr: {id: computeAlbumId($index(),'Name'), name: computeAlbumName($index(),'Name')}, value: Name" type="text" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input data-bind="attr: {id: computeAlbumId($index(),'Track'), name: computeAlbumName($index(),'Track')}, value: Track" type="text" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input data-bind="attr:{id: computeAlbumId($index(),'Publisher'), name: computeAlbumName($index(),'Publisher')}, value: Publisher" type="text" />
                        </div>
                    </td>
                    <td>
                        <button type="button" data-bind="attr: {id: 'Delete_' + $index()}, click: $root.song.removeAlbum">X</button>
                        <input data-bind="attr:{id: computeAlbumId($index(),'PurchaseInfo'), name: computeAlbumName($index(),'PurchaseInfo')}, value:PurchaseInfo" type="hidden" />
                        <input data-bind="attr: {id: computeAlbumId($index(),'Index'), name: computeAlbumName($index(),'Index')}, value:Index" type="hidden" />
                    </td>
                    <td>
                        <div data-bind="foreach: PurchaseLinks">
                            <a data-bind="attr: {href:Link, target:Target}"><img data-bind="attr: {src:'/Content/' + Logo(), alt: AltText}" /></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-md-12">
        <a class="btn btn-info" role="button" id="AddAlbum" data-bind="click: song.newAlbum">New Album</a>
    </div>
    <hr class="row col-md-12" />

    <h3 class="row col-md-12">Music Services</h3>
    <div class="row col-md-12">
        <input class="text-box single-line" placeholder="leave blank to use title + artist" id="search" type="text" width="75" />
        <button type="button" id="load-all" class="btn btn-small btn-default" role="button">Search All</button>
        <button type="button" id="load-xbox" class="btn btn-small btn-default" role="button">Xbox</button>
        <button type="button" id="load-itunes" class="btn btn-small btn-default" role="button">ITunes</button>
        <button type="button" id="load-spotify" class="btn btn-small btn-default" role="button">Spotify</button>
        <button type="button" id="load-amazon" class="btn btn-small btn-default" role="button">Amazon</button>
    </div>
    <table id="service-results" class="table table-striped row col-md-12">
        <thead>
            <tr>
                <th></th>
                <th>Add</th>
                <th>Name</th>
                <th>Album</th>
                <th>Artist</th>
                <th>#</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: tracks">
            <tr>
                <td><a data-bind="attr: {href: SongLink.Link}" class="btn" role="button"><img width="30" height="30" data-bind="attr: {src: serviceLogo}" /></a></td>
                <td><a href="#" class="btn btn-default" role="button" data-bind="click: $root.song.chooseTrack"><img width="30" height="30" data-bind="attr: {src: ImageUrl}" /></a></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Album"></td>
                <td data-bind="text: Artist"></td>
                <td data-bind="text: TrackNumber"></td>
                <td data-bind="text: durationFormatted"></td>
            </tr>
        </tbody>
    </table>

    <img src="~/Content/ajax-loader.gif" id="loading-indicator" style="display:none" />

    <hr class="row col-md-12" />
    <div class="row col-md-12">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Created):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Created)
            @Html.HiddenFor(model => model.Created)
        </div>
    </div>
    <br />

    <div class="row col-md-12">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Modified):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Modified)
        </div>
    </div>

    <hr class="row col-md-12" />

    <p class="row col-md-12">
        <input type="hidden" name="filter" value="@ViewBag.SongFilter"/>
        <input type="hidden" name="userTags" id="userTags"/>
        @*<input type="submit" value="Save" class="btn btn-default" />*@
        <input type="submit" id="save" name="operation" value="@ViewBag.Submit" class="btn btn-default" />
    </p>
}

@Html.Partial("_TagEditor")