@model SongDetails

@{
    ViewBag.Title = "Edit";
    ViewBag.Action = "Edit";
    ViewBag.Submit = "Save";
}

<h2>Edit</h2>

@Html.Partial("EditCore")

<div>
    @Html.ActionLink("Back to List", (string)ViewBag.SongFilter.Action, new { filter = ViewBag.SongFilter }, new { @class = "btn btn-small btn-primary", role = "button" })
</div>

@if (ViewData.ContainsKey("Errors"))
{
    <div>
        @foreach (Exception error in ViewBag.Errors)
        {
            <p>@error.Message</p>
        }
    </div>
}
@section Scripts {
    @{
        string tagChooserScript = "~/Scripts/tagchooser.js" + Page.ScriptQualifier;
        string pageScript = "~/Scripts/edit.js" + Page.ScriptQualifier;
        string counterScript = "~/Scripts/counter.js" + Page.ScriptQualifier;
    }

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tools-script")
    @Scripts.Render("~/bundles/knockout")
    <script src="@Url.Content(counterScript)" type="text/javascript"></script>
    <script src="@Url.Content(tagChooserScript)" type="text/javascript"></script>
    <script src="@Url.Content(pageScript)" type="text/javascript"></script>

    @Styles.Render("~/bundles/tools-style")
}
