@using System.Web.Mvc.Html
@using DanceLibrary
@using m4dModels

@helper ShowTempo(System.Web.Mvc.HtmlHelper html, TempoRange range, Meter meter, string danceId)
{
    var bpm = range.ToBpm(meter);
    @html.ActionLink(range.ToString(), "advancedsearch", "song", new { dances = danceId, tempomin = bpm.Min, tempomax = bpm.Max }, null)
}

@helper CategoryTable(System.Web.Mvc.HtmlHelper html, DanceStatsInstance stats, IEnumerable<DanceInstance> dances, string title, DanceCategoryType dct)
{
    var dctIn = dct;
    var danceList = (dances as IList<DanceInstance>) ?? dances.ToList();
    if (dct == DanceCategoryType.Both && danceList.All(cd => cd.StyleId == danceList[0].StyleId))
    {
        dct = (danceList[0].StyleId == 'I') ? DanceCategoryType.International : DanceCategoryType.American;
    }
    string ndcaTitleA = null;
    string ndcaTitleB = null;
    switch (dct)
    {
        case DanceCategoryType.Both:
            ndcaTitleA = "A (*)";
            ndcaTitleB = "B (*)";
            break;
        case DanceCategoryType.American:
            ndcaTitleA = "Pro/Am";
            ndcaTitleB = "Bronze";
            break;
        case DanceCategoryType.International:
            ndcaTitleA = "Professional or Amateur";
            ndcaTitleB = "Silver/Gold";
            break;
    }
    <table class="table table-striped table-bordered">
        <thead>@title</thead>
        <tr>
            <th>Name</th>
            <th>Meter</th>
            <th>MPM</th>
            <th>Dance&shy;Sport</th>
            <th class="hidden-xs">NDCA @ndcaTitleA</th>
            <th class="hidden-xs">NDCA @ndcaTitleB</th>
            <th class="visible-xs">NDCA @ndcaTitleA<br/>NDCA @ndcaTitleB</th>
            <th class="hidden-xs">BPM</th>
        </tr>
        @foreach (var d in danceList)
        {
            var danceStats = stats.Map[d.Id.Substring(0, 3)];

            var name = dctIn == DanceCategoryType.Both ? d.Style : danceStats.DanceName;
            var link = dctIn == DanceCategoryType.Both ? DanceObject.SeoFriendly(d.Style) : danceStats.SeoName;
            <tr>
                <td>@html.ActionLink(name, link, "dances") </td>
                <td>@d.Meter</td>
                <td>@ShowTempo(html,d.TempoRange, d.Meter, danceStats.DanceId)</td>
                <td>@ShowTempo(html, d.DanceSportTempo, d.Meter, danceStats.DanceId)</td>
                <td class="hidden-xs">@ShowTempo(html, d.NDCATempoA, d.Meter, danceStats.DanceId)</td>
                <td class="hidden-xs">@ShowTempo(html, d.NDCATempoB, d.Meter, danceStats.DanceId)</td>
                <td class="visible-xs">@ShowTempo(html, d.NDCATempoA, d.Meter, danceStats.DanceId)<br/>@ShowTempo(html, d.NDCATempoB, d.Meter, danceStats.DanceId)</td>
                <td class="hidden-xs">@d.TempoRange.ToBpm(d.Meter)</td>
            </tr>
        }
    </table>
    if (dct == DanceCategoryType.Both)
    {
        <p>(*) A short explanation of the NDCA (National Dance Council of America) columns: For American style dances the "A" column contains Tempi for Silver and Gold levels while the "B" column contains Tempi for Bronze level. For International style dances the "A" column contains Tempi for Professional and Amateur couples while the "B" column contains Tempi for Pro/Am couples. </p>
    }
}

@helper FullRoundName(CompetitionCategory category)
{
    @category.Name @(category.Round.Count == 4 ? " four " : " five " )
}

@helper LinkCategory(System.Web.Mvc.HtmlHelper html, string name)
{
    @html.ActionLink(name, DanceObject.SeoFriendly(name), "dances")
}

@helper BallroomList(System.Web.Mvc.HtmlHelper html)
{
    <ul>
        <li>Click on any of the tempos in the table below (in the MPM, DanceSport, or NDCA columns) to go to a list of songs of that tempo</li>
        <li>Click on the dance names to go to our details information page for that dance style</li>
        <li>Read our <a href="https://www.music4dance.net/blog/im-a-competition-ballroom-dancer-can-i-find-practice-songs-that-are-a-specific-tempo/">blog post</a> for step by step instructions on using our catalog to find music of specific style and tempo.</li>
        <li>@html.ActionLink("Sign up", "SignUp", "Account") (it's free) to start building your own music lists.</li>
    </ul>
}

@helper ShowAdmin(DanceStats stats)
{
    <ul>
        <li>DanceId = @stats.DanceId</li>
        <li>DanceName = @stats.DanceName</li>
        <li>SeoName = @stats.SeoName</li>
        <li>BlogTag = @stats.BlogTag</li>
        <li>SongCount = @stats.SongCount</li>
        <li>SongCountExplicit = @stats.SongCountExplicit</li>
        <li>SongCountImplicit = @stats.SongCountImplicit</li>
        <li>MaxWeight = @stats.MaxWeight</li>
        <li>HasLinks = @(stats.DanceLinks != null)</li>
    </ul>
}