@using System.Globalization
@using m4d.Controllers
@using m4d.Utilities
@using Microsoft.ApplicationInsights.Extensibility
@{
    ViewBag.Title = "Logging";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/admin">Admin Index</a></li>
    <li class="active">Logging</li>
</ol>

<p>Start Time = <b>@SpiderManager.StartTime.ToString(CultureInfo.CurrentCulture)</b></p>
<p>Up Time = <b>@SpiderManager.UpTime.ToString()</b></p>

<hr />
<h3>Tracing (Current Level = @TraceLevels.General.Level.ToString())</h3>
<ul>
    <li>@Html.ActionLink("Turn Tracing Off", "SetTraceLevel", "Admin", new {level = 0}, null)</li>
    <li>@Html.ActionLink("Trace Error", "SetTraceLevel", "Admin", new {level = 1}, null)</li>
    <li>@Html.ActionLink("Trace Warning", "SetTraceLevel", "Admin", new {level = 2}, null)</li>
    <li>@Html.ActionLink("Trace Info", "SetTraceLevel", "Admin", new {level = 3}, null)</li>
    <li>@Html.ActionLink("Trace Verbose", "SetTraceLevel", "Admin", new {level = 4}, null)</li>
    <li>@Html.ActionLink("Test Trace", "TestTrace", "Admin", new {message = "Nothing Special"}, null)</li>
</ul>
<hr />
<h3>History</h3>
<ul>
    <li>@Html.ActionLink("Songs sorted by Modified date", "sort", "song", new {sortOrder = "Modified_desc"}, null)</li>
    <li>@Html.ActionLink("Songs sorted by Created date", "sort", "song", new { sortOrder = "Created_desc" }, null)</li>
</ul>

<h3>Status</h3>
<ul>
    <li>@Html.ActionLink("Show Status", "AdminStatus", "Admin")</li>
    <li>Application Insights Telemetry Disabled = @Html.ActionLink(TelemetryConfiguration.Active.DisableTelemetry.ToString(), "DisableTelemetry", "Admin", new {disable = !TelemetryConfiguration.Active.DisableTelemetry}, null)</li>
    <li>Verbose Telemetry Enabled = @Html.ActionLink(DMController.VerboseTelemetry.ToString(), "EnableVerboseTelemetry", "Admin", new {enable = !DMController.VerboseTelemetry}, null)</li>
    <li>@Html.ActionLink("Flush Telemetry", "FlushTelemetry", "Admin")</li>
    <li>@Html.ActionLink("Reset Admin Status", "ResetAdmin", "Admin")</li>
</ul>

<h3>Search Index: @ViewBag.SearchIdx</h3>
<ul>
    <li>@Html.ActionLink("free", "SetSearchIdx", "Admin", new { id="free" }, null)</li>
    <li>@Html.ActionLink("basica", "SetSearchIdx", "Admin", new { id = "basica" }, null)</li>
    <li>@Html.ActionLink("basicb", "SetSearchIdx", "Admin", new { id = "basicb" }, null)</li>
    <li>@Html.ActionLink("basicc", "SetSearchIdx", "Admin", new { id = "basicc" }, null)</li>
</ul>


<hr />
<h3>Logging</h3>
<ul>
    <li>@Html.ActionLink("Log", "index", "log")</li>
    <li>@Html.ActionLink("Restore From Log", "restoreLines", "log")</li>
</ul>

<h3>Songs Modified By</h3>
@using (Html.BeginForm("FilterUser", "Song", FormMethod.Get))
{
    <input type="text" name="user" />
    <input type="submit" id="Submit" value="Search" />
}

<hr />
<h3>Bot Stats</h3>
@{Html.RenderPartial("_botreport", (object)ViewBag.BotReport);}
