@using System.Globalization
@using Microsoft.FeatureManagement
@using m4d.Utilities
@using m4d.ViewModels
@using m4dModels
@using System
@inject ISearchServiceManager SearchService
@inject IConfiguration Configuration
@inject IFeatureManagerSnapshot FeatureManager

@{
    ViewBag.Title = "Logging";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<p>Start Time = <b>@SpiderManager.StartTime.ToString(CultureInfo.CurrentCulture)</b></p>
<p>Up Time = <b>@SpiderManager.UpTime.ToString()</b></p>

<hr />
<h3>Environment</h3>
<ul>
    <li>
        <b>Command Line:</b>@Environment.CommandLine
    </li>
    <li>
        <b>Current Directory:</b>@Environment.CurrentDirectory
    </li>
    <li>
        <b>OSVersion:</b> @Environment.OSVersion
    </li>
    <li>
        <b>UserDomainName:</b> @Environment.UserDomainName
    </li>
    <li>
        <b>UserName:</b> @Environment.UserName
    </li>
    <li>
        <b>Version:</b> @Environment.Version
    </li>
    <li><b>Build Flavor:</b> @(ViewBag.Debug ? "Debug" : "Release")</li>
    <li>
        Sentinel: @Configuration["Configuration:Sentinel"]
    </li>
    <li>
        CaptcahEnabled: @Configuration["Configuration:Registration:CaptchaEnabled"]
    </li>
</ul>

<hr />
<h3>Logging (Current Level = @(ViewData["CurrentLogLevel"] ?? "Unknown"))</h3>
<p>
    <b>Note:</b> In the Debug environment, the Developer Exception Page and some logging providers may emit all log levels regardless of runtime changes. To allow runtime log level changes, ensure your <code>appsettings.Development.json</code> does not set a minimum log level lower than what you want to allow, and avoid hard-coded log filters in <code>Program.cs</code>.
</p>
<ul>
    @foreach (var lvl in Enum.GetValues(typeof(Microsoft.Extensions.Logging.LogLevel)))
    {
        <li>
            <a href="@Url.Action("SetLogLevel", "Admin", new { level = lvl })">Set to @lvl</a>
            |
            <a href="@Url.Action("TestLog", "Admin", new { message = $"Test log for {lvl}", level = lvl })">Emit @lvl log</a>
        </li>
    }
</ul>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<h4>@Html.ActionLink("Throw an Exception", "ThrowException", "Admin")</h4>

<hr />
<h3>Features</h3>
<ul>
    @await foreach (var feature in FeatureManager.GetFeatureNamesAsync())
    {
        <li>@feature == @await FeatureManager.IsEnabledAsync(feature)</li>
    }
</ul>

<hr />
<h3>History</h3>
<ul>
    <li>
        @Html.ActionLink("Songs sorted by Modified date", "sort", "song", new
    {
        sortOrder = "Modified_desc"
    }, null)
    </li>
    <li>
        @Html.ActionLink("Songs sorted by Created date", "sort", "song", new
    {
        sortOrder = "Created_desc"
    }, null)
    </li>
    <li>
        @Html.ActionLink("All Songs", "filtersearch", "Song", new
    {
        filter = "Advanced----------3"
    })
    </li>
</ul>

<hr />
<h3>Status</h3>
<ul>
    <li>@Html.ActionLink("Show Status", "AdminStatus", "Admin")</li>
    <li>@Html.ActionLink("Reset Admin", "ResetAdmin", "Admin")</li>
    <li>
        Skipped iTunes = @MusicServiceManager.Skipped;
        Currently Paused = @MusicServiceManager.Paused
    </li>
    <li>iTunes Calls = @MusicServiceManager.iTunesCalls</li>
    <li>spotify Calls = @MusicServiceManager.spotifyCalls</li>
    <li>@Html.ActionLink("Dump Cleanup Count", "DumpCleanupCount", "Admin")</li>
</ul>

<hr />
<h3>Search Index: @ViewBag.SearchIdx</h3>
<p>Source = @ViewBag.StatsUpdateSource, Time=@ViewBag.StatsUpdateTime</p>
<ul>
    @foreach (var id in SearchService.GetAvailableIds()){
        if (SearchService.DefaultId == id)
        {
            continue;
        }
        <li>
                @Html.ActionLink(id, "SetSearchIdx", "Admin", new
            {
                id
            }, null)
        </li>
    }
</ul>
<p><b>Enviroment:</b> @SearchService.RawEnvironment</p>
<p><b>DB Code Version:</b> @SearchService.CodeVersion
<p><b>DB Config Version:</b> @SearchService.ConfigVersion
<p />

<hr />
<h3>Tag Duplicates</h3>
<ul>
    @foreach (var key in TagManager.Duplicates)
{
    <li>@key</li>
}
</ul>

<hr />
<h3>Songs Modified By</h3>
@using (Html.BeginForm("FilterUser", "Song", FormMethod.Get))
{
    <input type="text" name="user" />
    <input type="submit" id="Submit" value="Search" />
}

<hr />
<h3>ListSongs</h3>
@using (Html.BeginForm("List", "Song", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <input type="file" name="FileUpload" />
    <input type="submit" name="list" id="List" value="List" />
}

<hr />
<h3>Bot Stats</h3>
<partial name="_botreport" model="ViewBag.BotReport" />