@using m4d.ViewModels
@{
    ViewBag.Title = "Administration";
ViewBag.BreadCrumbs = new List<BreadCrumbItem>
{
    BreadCrumbItem.HomeItem,
    new()
    {
        Title = ViewBag.Title,
        Active = true
    }
};
}

<h1>@ViewBag.Title</h1>

<div>
    <h3>@Html.ActionLink("Users", "Index", "ApplicationUsers")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Activity Log", "Index", "ActivityLog")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Usage Log", "Index", "UsageLog")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Tags", "Tags")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Diagnostics", "Diagnostics")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Initialization and Cleanup", "InitializationTasks")</h3>
</div>

<div>
    <h3>@Html.ActionLink("PlayLists", "Index", "PlayList")</h3>
</div>
<div>
    <h3>@Html.ActionLink("Searches", "Index", "Searches", new { user = "all", showDetails=true})</h3>
</div>

@if (User.IsInRole("dbAdmin"))
{
    <div>
        <h3>@Html.ActionLink("Uploads and Backups", "UploadBackup")</h3>
    </div>
}