@using m4d.Utilities
@using m4d.ViewModels
@using m4dModels
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal

@{
    ViewBag.Title = "InitializationTasks";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<h3>Search Indexing</h3>
<ul>
    <li>Default: @Html.ActionLink("Reset", "ResetSearchIdx")</li>
    <li>
        SongIndexProd: @Html.ActionLink("Reset", "ResetSearchIdx", new
            {
                id = "SongIndexProd"
            }, null)
    </li>
    <li>
        SongIndexTest: @Html.ActionLink("Reset", "ResetSearchIdx", new
            {
                id = "SongIndexTest"
            }, null)
    </li>
    <li>
        SongIndexExperimental: @Html.ActionLink("Reset", "ResetSearchIdx", new
            {
                id = "SongIndexExperimental"
            }, null)
    </li>
</ul>

<h3> Initializiation Tasks</h3>
<ul>
    <li>
        Reload Song Stats
        <ul>
            <li>@Html.ActionLink("From Store", "ClearSongCache")</li>
            <li>
                @Html.ActionLink("From File", "ClearSongCache", new
            {
                reloadFromStore = false
            }, null)
            </li>
        </ul>
    </li>
    <li>@Html.ActionLink("Reload Dances", "ReloadDances")</li>
    <li>@Html.ActionLink("Update Sitemap", "UpdateSitemap")</li>
</ul>

<h3>Update Warning</h3>
@using (Html.BeginForm("UpdateWarning", "Admin", FormMethod.Post, new
{
enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    @if (string.IsNullOrWhiteSpace(GlobalState.UpdateMessage))
{
    <textarea name="message" id="mesage" rows="4" cols="100">
            We are in the process of upgrading the music4dance.net infrastructure.
            You should still be able to use the site to browse and search but please
            hold off doing any editing or registering an account until this banner disappears.
            Thanks!
        </textarea>
    <input type="submit" name="submit" id="Update" value="Update"/>
}
else
{
    <p>Current Update: @GlobalState.UpdateMessage</p>
    <input type="hidden" name="message" id="message" value=""/>
    <input type="submit" name="clear" id="cear" value="Clear" />
}
}

<h3>Test Keys</h3>
<ul>
    <li>
        Using Test Keys = @GlobalState.UseTestKeys;  <a href="/admin/toggletestkeys">Toggle</a>
    </li>
</ul>

<h3>Clean Up</h3>
<ul>
    <li>
        @Html.ActionLink("Cleanup Properties", "CleanupProperties", new
    {
        count = 100
    }, null)
    </li>
</ul>

<h3>Merging</h3>
<ul>
    <li>
        @Html.ActionLink("Merge Candidates - Similar Title", "MergeCandidates", "Song", new
    {
        level = 2
    }, null)
    </li>
    <li>
        @Html.ActionLink("Merge Candidates - Similar (Title + Artist) + All else equal", "MergeCandidates", "Song", new
    {
        level = 1
    }, null)
    </li>
    <li>
        @Html.ActionLink("Merge Candidates - Similar (Title + Artist + Length) + All else equal", "MergeCandidates", "Song", new
    {
        level = 3
    }, null)
    </li>
    <li>
        @Html.ActionLink("Merge Candidates - Similar Title + All else equal", "MergeCandidates", "Song", new
    {
        level = 0
    }, null)
    </li>
    <li>@Html.ActionLink("Finish Merge Session", "ClearMergeCache", "Song")</li>
    <li>
        @Html.ActionLink("AutoMerge", "MergeCandidates", "Song", new
    {
        level = 3,
        autocommit = true
    }, null)
    </li>
</ul>

<h4>Merge Songs</h4>
@using (Html.BeginForm("BulkEdit", "Song", FormMethod.Post, new
{
enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <input
        type="text"
        value="54a3db2a-7c17-47e1-bd39-11ddc079918d"
        name="selectedSongs"
    />
    <input type="text"
       value="130bb268-a7a6-4b3c-890a-708051e786bb"
       name="selectedSongs" />
    <input type="submit" id="Submit" name="action" value="SimpleMerge" />
}


<h3>Old Tasks</h3>
<ul>
    @if (User.IsInRole("dbAdmin"))
{
    <li>@Html.ActionLink("Restore the Datbase", "RestoreDatabase")</li>
    <li>@Html.ActionLink("Rerun seed function", "Reseed")</li>
}
</ul>