@using m4d.ViewModels
@{
    ViewBag.Title = "Scraping";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<hr/>

<h3>Scrape Sites</h3>
<ul>
    <li>@Html.ActionLink("Century", "ScrapeDances", new {id = "Century"})</li>
    <li>@Html.ActionLink("DanceForum", "ScrapeDances", new {id = "danceforums"})</li>
    <li>@Html.ActionLink("DWTS", "ScrapeDances", new {id = "dwts"})</li>
    <li>@Html.ActionLink("WDW", "ScrapeDances", new {id = "WDW"})</li>
    <li>@Html.ActionLink("***REMOVED***", "ScrapeDances", new {id = "WW", parameter = "Last Dance"})</li>
    <li>@Html.ActionLink("***REMOVED***", "ScrapeDances", new {id = "georgewendy"})</li>
</ul>