@using m4d.ViewModels
@{
    Layout = "/Views/Shared/_bs4-Layout.cshtml";
    ViewBag.Title = "Scraping";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/admin">Admin Index</a></li>
    <li class="active">Song Scraping</li>
</ol>


<h3>Scrape Spotify</h3>
@using (Html.BeginForm("ScrapeSpotify", "Admin", FormMethod.Get))
{
    <span>User: </span><input type="text" name="user" value="JoyM" /><br />
    <span>Url: </span><input type="text" name="url" value="https://open.spotify.com/user/113231003/playlist/1tUHw7s4bfRVbPdHo6ut7D" />
    <span>Dances: </span><input type="text" name="dances" />
    <span>Song Tags: </span><input type="text" name="songTags"/>
    <span>Dance Tags: </span><input type="text" name="danceTags" />
    <input type="submit" value="Scrape" />
}

<hr />

<h3>Scrape Sites</h3>
<ul>
    <li>@Html.ActionLink("Century", "ScrapeDances", new { id = "Century" })</li>
    <li>@Html.ActionLink("DanceForum", "ScrapeDances", new { id = "danceforums" })</li>
    <li>@Html.ActionLink("DWTS", "ScrapeDances", new { id = "dwts" })</li>
    <li>@Html.ActionLink("WDW", "ScrapeDances", new { id = "WDW" })</li>
    <li>@Html.ActionLink("***REMOVED***", "ScrapeDances", new { id = "WW", parameter="Last Dance" })</li>
    <li>@Html.ActionLink("***REMOVED***", "ScrapeDances", new { id = "georgewendy"})</li>
</ul>
