@using m4d.ViewModels
@{
    ViewBag.Title = "Tags";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<h3>Tags</h3>
<ul>
    <li>@Html.ActionLink("Tag Cloud", "index", "tag")</li>
    <li>@Html.ActionLink("Tag List", "list", "tag")</li>
    @*<li>@Html.ActionLink("Update Tag Summaries", "UpdateTagSummaries")</li>*@
</ul>

@*<h3>Azure Tags</h3>
<ul>
    <li>@Html.ActionLink("DanceTags", "AzureFacets", new { categories = "DanceTags", count = 100 }, null)</li>

    <li>@Html.ActionLink("Tags", "AzureFacets", new { categories = "GenreTags,StyleTags,TempoTags,OtherTags", count = 100 }, null)</li>

</ul>*@