@{
    ViewBag.Title = "Tags";
}
<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/admin">Admin Index</a></li>
    <li class="active">Tags</li>
</ol>

<h3>Tags</h3>
<ul>
    <li>@Html.ActionLink("Tag List", "index", "tag")</li>
    <li>@Html.ActionLink("Update Tag Summaries", "UpdateTagSummaries")</li>
</ul>

<h3>Azure Tags</h3>
<ul>
    <li>@Html.ActionLink("DanceTags", "AzureFacets", new { categories = "DanceTags", count = 100 }, null)</li>
    <li>@Html.ActionLink("DanceTagsInferred", "AzureFacets", new {categories = "DanceTagsInferred", count = 100}, null)</li>

    <li>@Html.ActionLink("Tags", "AzureFacets", new { categories = "GenreTags,StyleTags,TempoTags,OtherTags", count = 100 }, null)</li>

</ul>