@using m4d.ViewModels
@{
    ViewBag.Title = "Tags";
ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<h3>Tags</h3>
<ul>
    <li>@Html.ActionLink("Tag Cloud", "index", "tag")</li>
    <li>@Html.ActionLink("Tag List", "list", "tag")</li>
    @*<li>@Html.ActionLink("Update Tag Summaries", "UpdateTagSummaries")</li>*@
</ul>

<h3>Azure Tags</h3>
<ul>
    <li>@Html.ActionLink("Dances", "AzureFacets", new { categories = "DanceTags", count = 100 }, null)</li>

    <li>@Html.ActionLink("Song Tags", "AzureFacets", new { categories = "GenreTags,StyleTags,OtherTags", count = 100 }, null)</li>

    <li>@Html.ActionLink("Dance Tags", "AzureFacets", new { categories = "dance_ALL/StyleTags,dance_ALL/TempoTags,dance_ALL/OtherTags", count = 100 }, null)</li>
</ul>