@using m4d.ViewModels
@{
    ViewBag.Title = "Upload Catalog";
    ViewBag.BreadCrumbs = BreadCrumbItem.BuildAdminTrail(ViewBag.Title);
}

<h2>Upload Catalog</h2>
@using (Html.BeginForm("UploadCatalog", "Admin", FormMethod.Post, new {@class = "form", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    ;
    var separator = " - ";
    var header = "";
    var user = "";
    var dances = "";
    var album = "";
    var artist = "";
    var tags = "";

    if (ViewData.ContainsKey("Separator") && !string.IsNullOrWhiteSpace(ViewBag.Separator))
    {
        separator = ViewBag.Separator;
    }
    if (ViewData.ContainsKey("Headers") && !string.IsNullOrWhiteSpace(ViewBag.Headers))
    {
        header = ViewBag.Headers;
    }
    if (ViewData.ContainsKey("User") && !string.IsNullOrWhiteSpace(ViewBag.User))
    {
        user = ViewBag.User;
    }
    if (ViewData.ContainsKey("Dances") && !string.IsNullOrWhiteSpace(ViewBag.Dances))
    {
        dances = ViewBag.Dances;
    }
    if (ViewData.ContainsKey("Artist") && !string.IsNullOrWhiteSpace(ViewBag.Artist))
    {
        artist = ViewBag.Artist;
    }
    if (ViewData.ContainsKey("Album") && !string.IsNullOrWhiteSpace(ViewBag.Album))
    {
        album = ViewBag.Album;
    }
    if (ViewData.ContainsKey("Tags") && !string.IsNullOrWhiteSpace(ViewBag.Tags))
    {
        tags = ViewBag.Tags;
    }

    <div class="form-group">
        <span class="control-label">User:</span>
        <input type="text" name="user" value="@user"/>
    </div>
    <div class="form-group">
        <span class="control-label">Dances:</span>
        <input type="text" name="dances" value="@dances"/>
    </div>
    <div class="form-group">
        <span class="control-label">Artist:</span>
        <input type="text" name="artist" value="@artist"/>
    </div>
    <div class="form-group">
        <span class="control-label">Album:</span>
        <input type="text" name="album" value="@album"/>
    </div>
    <div class="form-group">
        <span class="control-label">Tags:</span>
        <input type="text" name="tags" value="@tags"/>
    </div>
    <div class="form-group">
        <span class="control-label">Separator:</span>
        <input type="text" name="separator" value="@separator"/>
    </div>
    <div class="form-group">
        <span class="control-label">Header:</span>
        <input type="text" name="headers" value="@header"/>
    </div>
    <div class="form-group">
        <span class="control-label">Table:</span>
        <textarea class="form-control" rows="10" name="songs"></textarea>
    </div>
    <div class="form-group">
        <span class="control-label">File:</span>
        <input type="file" name="FileUpload"/>
    </div>

    <input type="submit" name="UploadCatalog" id="Submit" value="Upload"/>
}