@using System.Web.Handlers
@{
    ViewBag.Title = "UploadBackup";
}

<ol class="breadcrumb">
    <li><a href="/">Music4Dance</a></li>
    <li><a href="/admin">Admin Index</a></li>
    <li class="active">Uploads and Backups</li>
</ol>

@if (User.IsInRole("dbAdmin"))
{
    <h2>Uploads</h2>

    <li>@Html.ActionLink("Upload Catalog", "UploadCatalog", new { headers = "TITLE,ARTIST" })</li>
    <li>@Html.ActionLink("Upload Catalog (Empty)", "UploadCatalog", new { separator = @"\t", headers = "" })</li>
    <li>@Html.ActionLink("Upload Catalog (Ithaca)", "UploadCatalog", new { separator = "ITC", headers = "TEMPO,TITLE,ARTIST", user = "ithaca" })</li>
    <li>@Html.ActionLink("Upload Catalog (DWTS)", "UploadCatalog", new { separator = @"\t", headers = "DANCERS,DANCE,TITLE+ARTIST", user = "dwts", tags = "Episode 5:Other|Season 20:Other|United States:Other|DWTS:Other" })</li>
    <li>@Html.ActionLink("Upload Catalog (Paul)", "UploadCatalog", new { separator = @"\t", headers = "Dance,Rating,Title,BPM,Length,Artist,Comment", user = "paul" })</li>
    <li>@Html.ActionLink("Upload Album", "UploadCatalog", new { headers = "Title", separator = @"\t" })</li>

    <h3>Upload Tag Types</h3>
    using (Html.BeginForm("UploadTagTypes", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTags" id="Submit" value="Upload" />
    }
    <hr />

    <h3>Upload Tags</h3>
    using (Html.BeginForm("UploadTags", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTags" id="Submit" value="Upload" />
    }
    <hr />

    <h3>Upload Tempi</h3>
    using (Html.BeginForm("UploadTempi", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTempi" id="Submit" value="Upload" />
    }
    <hr />

    <h3>Update User Names</h3>
    using (Html.BeginForm("UpdateUsernames", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <input type="checkbox" name="makepublic" id="makepublic" value="true" checked /> <text>Make Public</text>
        <input type="submit" name="submit" id="UpdateUsernames" value="Submit" />
    }

    <h3>Reload the Database</h3>
    using (Html.BeginForm("ReloadDatabase", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="reloadDatabase" id="Reload" value="Reload" />
        <input type="submit" name="reloadDatabase" id="Update" value="Update" />
        <input type="submit" name="reloadDatabase" id="Admin" value="Admin" />
    }

    <h3>Reload the Index</h3>
    using (Html.BeginForm("LoadIdx", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br/>
        <input type="submit" name="idxName" id="basica" value="basica" />
        <input type="submit" name="idxName" id="basicb" value="basicb" />
        <input type="submit" name="idxName" id="basicc" value="basicc" />
    }

    <h3>Update the Index</h3>
    using (Html.BeginForm("LoadIdx", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload"/>
        <input type="hidden" name="reset" id="reset" value="false"/>
        <br />
        <input type="submit" name="idxName" id="basica" value="basicb" />
        <input type="submit" name="idxName" id="basicb" value="basicb" />
        <input type="submit" name="idxName" id="basicc" value="basicc" />
    }

    <hr />
    <h2>Backup Database</h2>
    <li>@Html.ActionLink("Backup the Database", "BackupDatabase"), @Html.ActionLink("Users", "BackupDatabase", new {tags = false, dances = false, songs = false, searches = false}), @Html.ActionLink("Dances", "BackupDatabase", new {tags = false, users = false, songs = false, searches = false}), @Html.ActionLink("Tags", "BackupDatabase", new {dances = false, users = false, searches = false, songs = false}), @Html.ActionLink("Searches", "BackupDatabase", new {tags = false, dances = false, users = false, songs = false})</li>
    <li>@Html.ActionLink("Backup - No Songs", "BackupDatabase", new { songs = false })</li>
    <li>@Html.ActionLink("Backup the Database (with lookup history)", "BackupDatabase", new { useLookupHistory = "true" })</li>
    <li>@Html.ActionLink("Backup tail", "BackupTail", new { count = 150 })</li>
    <li>@Html.ActionLink("Backup tail (500)", "BackupTail", new { count = 500 })</li>
    <li>@Html.ActionLink("Backup tail (today)", "BackupTail", new {from = DateTime.Now.ToShortDateString(), count = 5000})</li>
    <li>@Html.ActionLink("Backup tail (yesterday & today)", "BackupTail", new { from = (DateTime.Now - new TimeSpan(1,0,0,0)).ToShortDateString(), count = 5000 })</li>

    <h2>Backup Index</h2>
    <li>@Html.ActionLink("Backup", "IndexBackup")</li>
    <li>@Html.ActionLink("Backup tail", "IndexBackup", new { count = 150 })</li>
    <li>@Html.ActionLink("Backup tail (yesterday & today)", "IndexBackup", new { from = (DateTime.Now - new TimeSpan(1, 0, 0, 0)).ToShortDateString() })</li>

    <h2>JSON Backup</h2>
    <li>@Html.ActionLink("Dance Statistics", "DanceStatistics")</li>
    <li>@Html.ActionLink("From Sql", "DanceStatistics", new {soure="sql"}, null)</li>
    <li>@Html.ActionLink("From Azure", "DanceStatistics", new { source = "default" }, null)</li>


    <h3>Backup Delta</h3>
    using (Html.BeginForm("BackupDelta", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="UploadTempi" value="Upload" />
    }
}
