<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music4Dance: Shall we dance...to music?</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n){t[n]=function(){var i=arguments;t.queue.push(function(){t[n].apply(t,i)})}}function f(n,t){if(n){var u=r.createElement(i);u.type="text/javascript";u.src=n;u.async=!0;u.onload=t;u.onerror=t;r.getElementsByTagName(i)[0].parentNode.appendChild(u)}else t()}var r=document,t=this,i;t.applicationInsightsId=n;u("logEvent");u("logPageView");i="script";f(t.configUrl,function(){f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js")});t.start=function(){}}};
        appInsights.start("aada2f48-d93c-4778-a71f-7781952cc47b");
        appInsights.logPageView();
    </script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-logo">
                    <img src="~/Content/header-logo.png" title="music4dance" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dances", "Index", "Home")</li>
                    <li>@Html.ActionLink("Songs", "Index", "Song")</li>
                    <li>@Html.ActionLink("Counter", "Counter", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User.IsInRole("showDiagnostics"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <div class="row">
            <hr />
            <div class="col-md-12">
                <footer>
                    <p>&copy; @DateTime.Now.Year - Music4Dance.net - 
                    @Html.ActionLink("Terms of Service","TermsOfService") - 
                    @Html.ActionLink("Privacy Policy", "PrivacyPolicy")
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
