@model IEnumerable<m4dModels.SongBase>

@{
    var isAdmin = User.IsInRole("dbAdmin");        
    var canSort = ViewData.ContainsKey("NoSort") ? !ViewBag.NoSort : true;
    var hideDances = ViewData.ContainsKey("HideDances") ? ViewBag.HideDances : false;
    string albumName = ViewData.ContainsKey("AlbumName") ? ViewBag.AlbumName : null;    
    var hideArtist = ViewData.ContainsKey("HideArtist") ? ViewBag.HideArtist : false;
    
    var danceMap = (IDictionary<string, m4dModels.SongCounts>)ViewBag.DanceMap;
    var songOrder = new m4dModels.SongSort(ViewBag.SongFilter.SortOrder);
    var showDate = songOrder.Id == "Modified" || songOrder.Id == "Created";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="min-width: 30px">Play</th>
            @if (canSort && isAdmin)
            {
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            }
            <th style="min-width:75pt">
                @if (canSort)
                {
                    @Html.ActionLink("Title", "Sort", "Song", new { sortOrder = "Title", filter = ViewBag.SongFilter }, null)
                    @Html.Raw(songOrder.GetSortGlyph("Title"))
                }
                else
                {
                    <text>Title</text>
                }
            </th>
            @if (!hideArtist)
            {
                <th style="min-width:75pt">
                    @if (canSort)
                    {
                        @Html.ActionLink("Artist", "Sort", "Song", new { sortOrder = "Artist", filter = ViewBag.SongFilter }, null)
                        @Html.Raw(songOrder.GetSortGlyph("Artist"))
                    }
                    else
                    {
                        <text>Artist</text>
                    }
                </th>
            }            
            @if (albumName == null)
            {
                @* TODO: Reinstate album name when we get user selectable columns
                    <th style="min-width:75pt" class="hidden-xs">
                    @if (canSort)
                    {
                        @Html.ActionLink("Album", "Sort", "Song", new { sortOrder = "Album", filter = ViewBag.SongFilter }, null)
                        @Html.Raw(songOrder.GetSortGlyph("Album"))
                    }
                    else
                    {
                        <text>Album</text>
                    }
                </th>*@
            }
            else
            {
                <th style="min-width:75pt" class="hidden-xs">
                    Track
                </th>
            }
            <th class="hidden-xs">
                @if (canSort)
                {
                    @Html.ActionLink("Tempo (BPM)", "sort", "song", new {sortOrder = "Tempo", filter = ViewBag.SongFilter}, null)
                    @Html.Raw(songOrder.GetSortGlyph("Tempo"))
                }
                else
                {
                    <text>Tempo (BPM)</text>
                }
            </th>
            @if (!hideDances)
            {
                <th>
                    @if (canSort)
                    {
                        @Html.ActionLink("Dances", "sort", "song", new { sortOrder = "Dances", filter = ViewBag.SongFilter }, null)
                        @Html.Raw(songOrder.GetSortGlyph("Dances"))
                    }
                    else
                    {
                        <text>Dances</text>
                    }
                </th>
            }
            <th>Tags</th>
            @if (isAdmin)
            {
                <th></th>
            }
            @if (showDate)
            {
                <th class="hidden-xs">@ViewBag.SongFilter.SortOrder</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            m4dModels.SongDetails sd = null;
            if (albumName != null)
            {
                sd = item as m4dModels.SongDetails;
            }

            if (item.Title != null)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.Purchase))
                        {
                            var id = "Play" + item.SongId.ToString();
                            <div class="btn-group">
                                <button id="@id" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="@Url.Content("~/Content/playbutton.png")" alt="Play" width="20" height="20" /></button>
                                <ul class="dropdown-menu" role="menu">
                                    @if (!string.IsNullOrEmpty(item.Purchase) && item.Purchase.Contains('X'))
                                    {
                                        var xid = "X" + item.SongId.ToString();
                                        <li><a href="#" id="@xid" class="play-link"><img src='@Url.Content("~/Content/xbox-logo.png")' alt="Availiable on Xbox Music" width="20" height="20" /> Xbox Music</a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Purchase) && item.Purchase.Contains('I'))
                                    {
                                        var iid = "I" + item.SongId.ToString();
                                        <li><a href="#" id="@iid" class="play-link"><img src='@Url.Content("~/Content/itunes-logo.png")' alt=" availiable on itunes" width="20" height="20" /> ITunes</a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Purchase) && item.Purchase.Contains('A'))
                                    {
                                        var aid = "A" + item.SongId.ToString();
                                        <li><a href="#" id="@aid" class="play-link"><img src='@Url.Content("~/Content/amazon-logo.png")' alt=" availiable at amazon" width="20" height="20" /> Amazon</a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Purchase) && item.Purchase.Contains('S'))
                                    {
                                        var aid = "S" + item.SongId.ToString();
                                        <li><a href="#" id="@aid" class="play-link"><img src='@Url.Content("~/Content/spotify-logo.png")' alt=" availiable on spotify" width="20" height="20" /> Spotify</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </td>
                    @if (isAdmin && canSort)
                    {
                        var id = "Selected-" + item.SongId;
                        <td><input name="selectedSongs" id="@id" type="checkbox" value="@item.SongId" /></td>
                        <td><a href="/song/edit?id=@item.SongId&filter=@ViewBag.SongFilter" role="button" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    }

                    <td>
                        @Html.ActionLink(item.Title, "details", "song", new { id = item.SongId, filter = ViewBag.SongFilter }, null)
                        @if (item.Tempo != null)
                        {
                            <small class="hidden-sm hidden-md hidden-lg">(@decimal.Round(item.Tempo.Value).ToString("F0") BPM)</small>
                        }
                    </td>

                    @if (!hideArtist)
                    {
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.Artist))
                            {
                                @Html.ActionLink(item.Artist, "search", "song", new { searchString = item.Artist, dances = "ALL" }, null)
                            }
                        </td>
                    }

                    @if (albumName == null)
                    {
                        @*<td class="hidden-xs">
                            @if (!string.IsNullOrWhiteSpace(item.AlbumName))
                            {
                                @Html.ActionLink(item.AlbumName, "album", "song", new { title = item.AlbumName }, null)
                            }
                        </td>*@
                    }
                    else
                    {
                        <td class="hidden-xs">
                            @{
                                var track = sd.TrackFromAlbum(albumName);
                                if (track > 0)
                                {
                                    @track.ToString()
                                }
                            }
                        </td>
                    }
                    <td class="hidden-xs">
                        @if (item.Tempo != null)
                        {
                            var tempo = decimal.Round(item.Tempo.Value).ToString("F0");
                            @tempo
                        }
                    </td>
                    @if (!hideDances)
                    {
                        <td>
                            @foreach (var ditem in item.DanceRatings.OrderByDescending(dr => m4dModels.SongCounts.GetScaledRating(danceMap, dr.DanceId, dr.Weight)))
                            {
                                // TODO: Dance name pulled from the danceMap doesn't require a db lookup - is there a way
                                //  to make the more intuitive ditem.Dance.Name work without a lookup???
                                var badge = m4dModels.SongCounts.GetRatingBadge(danceMap, ditem.DanceId, ditem.Weight);
                                var name = danceMap[ditem.DanceId].DanceName;
                                <span class="rating @badge" style="margin-right: 5px">@Html.ActionLink(name, name, "dances")</span>
                            }
                        </td>
                    }
                    <td>
                        @foreach (var titem in item.TagSummary.Tags)
                        {
                            var tc = titem.TagClass.ToLower();
                            if (tc != "dance")
                            {
                                var url = "/song/tags?tags=" + WebUtility.UrlEncode(titem.TagValue) + ":" + WebUtility.UrlEncode(titem.TagClass);
                                <span class="label label-@tc" style="margin-right: 5px"><a role="button" class="tag-text" href="@url">@titem.TagValue</a></span>
                            }
                        }
                    </td>

                    @if (isAdmin)
                    {
                        <td>@item.Purchase</td>
                    }

                    @if (showDate)
                    {
                        <td class="hidden-xs">
                            @if (songOrder.Id == "Created")
                            {
                                <text>@item.Created.ToString("g")</text>
                            }
                            else
                            {
                                <text>@item.Modified.ToString("g")</text>
                            }
                        </td>
                    }

                </tr>
            }
        }
    </tbody>

</table>
