@using System.Diagnostics
@using m4dModels
@model IEnumerable<TagCount>

@{
    var tags = Model as List<TagCount> ?? Model.ToList();
    var max = tags.Where(t => t.TagClass != "Dance").Max(t => t.Count);
    var inc = ((float)max) / 10;
    var valid = new[] { "music", "other", "style", "tempo" };
    var filter = string.Empty;
    if (ViewData.ContainsKey("SongFilter"))
    {
        filter = "&filter=" + WebUtility.UrlEncode(ViewBag.SongFilter.ToString());
    }
    var empty = 0;
    var skipped = 0;
    var shown = 0;
}

<div>
    @* TODONEXT: Figure out if we want to do something logarithmic with the tag grouping, aslo trim tags with count < n - user controlled? *@
    @foreach (var titem in tags)
    {
        if (titem.Count == 0)
        {
            empty += 1;
            continue;
        }

        var tc = titem.TagClass == null ? null : titem.TagClass.ToLower();
        if (tc == null || !valid.Contains(tc))
        {
            skipped += 1;
            continue;
        }

        shown += 1;
        var size = "cloud-" + (int)Math.Floor(titem.Count / inc);
        var url = "/song/addtags?tags={0}" + WebUtility.UrlEncode(titem.TagValue) + ":" + WebUtility.UrlEncode(titem.TagClass) + filter;

        <div class="btn-group @size">
            <a href="#" role="button" class="dropdown-toggle label label-@tc" data-toggle="dropdown" aria-expanded="false">@titem.TagValue</a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="@string.Format(url, "%2B")">Include songs tagged as @titem.TagValue</a>
                </li>
                <li>
                    <a href="@string.Format(url, "%2D")">Exclude songs tagged as @titem.TagValue</a>
                </li>
            </ul>
        </div>
    }
    @if (User.IsInRole("showDiagnostics"))
    {
        <p>Max = @max Inc = @inc Shown = @shown Skipped = @skipped Empty = @empty</p>
    }
</div>
