@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error:</h2>
@{
    if (!string.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <p class="text-danger">@Html.Raw(ViewBag.errorMessage)</p>
    }
    else if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
    {
        <p class="text-danger">@Html.Raw(ViewBag.StatusMessage)</p>
    }
    else
    {
        <p class="text-danger">An error occurred while processing your request.</p>
    }
}

@if ((TraceLevels.General.TraceVerbose || User.IsInRole("showDiagnostics")) && Model != null)
{
    string hresult = "0x" + Model.Exception.HResult.ToString("X8");
    <p><b>Exception:</b>@Model.Exception.Message (@hresult)</p>
    if (Model.Exception.InnerException != null)
    {
        <p><b>Inner Exception:</b>@Model.Exception.InnerException.Message</p>
    }
    <p><b>Target Site:</b>@Model.Exception.TargetSite</p>
    
    <h3>Stack Trace:</h3>
    string[] frames = Model.Exception.StackTrace.Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
    <ul>
        @foreach (string s in frames)
        {
            <li>@s</li>
        }
    </ul>
}