@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

@{
    var needEmail = string.IsNullOrEmpty(Model.Input.Email) || Model.Input.Email.IndexOf('@') == -1;
}
<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter a user name
    @if (needEmail)
{
    <text>and email</text>
}
    for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" />
                <label asp-for="Input.UserName" class="form-label"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            @if (needEmail)
        {
            <input asp-for="Input.Email" class="form-control" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        }
        else
        {
            <input id="Input_Email" name="Input.Email" type="hidden" value="@Model.Input.Email"/>
        }
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
