@using m4dModels
@model IEnumerable<m4dModels.TagGroup>

@{
    ViewBag.Title = "Tag Cloud";
    ViewBag.Description = "Explore songs based on musical genre, tempo, style and other tags.";
    ViewBag.SongFilter = SongFilter.Default;
}
<h1>Tag Cloud</h1>

<partial name="_TagCloud" model="TagGroup.ToTagCounts(Model)" />

@if (User.IsInRole("showDiagnostics"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary.PrimaryId)
            </th>
            <th>
                Children
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var item1 = item;
            <tr>
                <td>
                    @Html.ActionLink(item.Key, "tags", "song", new { tags = item.Key }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.PrimaryId)
                </td>
                <td>
                    @if (item.Children != null && item.Children.Count > 0)
                    {
                        var separator = "";
                        foreach (var child in item.Children)
                        {
                            @separator
                            @child.Key
                            separator = ",";
                        }
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EncodedKey }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EncodedKey }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EncodedKey })
                </td>
            </tr>
        }
    </table>
}

@section Scripts
{
    <environment include="Development">
        <script src="~/scripts/musicservice.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="scripts/musicservice.min.js"></script>
    </environment>
}

