@using m4d.ViewModels
@using m4d.Controllers
@model m4d.Controllers.PageUsageModel

@{
    ViewBag.Title = "Usage Log - Pages";
    var items = Model.Summaries;

    var breadCrumbs = new List<BreadCrumbItem>
    {
        BreadCrumbItem.AdminItem,
        new() { Title = "Usage Log", Link = "/usagelog" },
        new() { Title = "Pages", Active = true },
    };

    ViewData["BreadCrumbs"] = breadCrumbs;

    // Helper to preserve current filters when changing one option
    object GetRouteValues(bool? useBaseUrl = null, UserHitFilter? userHitFilter = null, PageType? pageType = null, BotFilter? botFilter = null)
    {
        return new
        {
            useBaseUrl = useBaseUrl ?? Model.UseBaseUrl,
            userHitFilter = userHitFilter ?? Model.UserHitFilter,
            pageType = pageType ?? Model.PageType,
            botFilter = botFilter ?? Model.BotFilter
        };
    }
}

<h1>@ViewBag.Title</h1>

<div class="row my-1">
    <div class="col-auto">
        <strong>Views:</strong>
    </div>
    <div class="col-auto">
        @Html.ActionLink("High Usage", "Index", "UsageLog", null, new
            {
                @class = "btn btn-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Pages", "Pages", "UsageLog", null, new
            {
                @class = "btn btn-primary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row my-1">
    <div class="col-auto">
        <strong>Page Type:</strong>
    </div>
    <div class="col-auto">
        @Html.ActionLink("All Pages", "Pages", "UsageLog", GetRouteValues(pageType: PageType.All), new
            {
                @class = Model.PageType == PageType.All ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Song Details", "Pages", "UsageLog", GetRouteValues(pageType: PageType.Songs), new
            {
                @class = Model.PageType == PageType.Songs ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Other Pages", "Pages", "UsageLog", GetRouteValues(pageType: PageType.Other), new
            {
                @class = Model.PageType == PageType.Other ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row my-1">
    <div class="col-auto">
        <strong>URL Mode:</strong>
    </div>
    <div class="col-auto">
        @Html.ActionLink("Full URL", "Pages", "UsageLog", GetRouteValues(useBaseUrl: false), new
            {
                @class = !Model.UseBaseUrl ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Base URL Only", "Pages", "UsageLog", GetRouteValues(useBaseUrl: true), new
            {
                @class = Model.UseBaseUrl ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row my-1">
    <div class="col-auto">
        <strong>User Filter:</strong>
    </div>
    <div class="col-auto">
        @Html.ActionLink("All Users", "Pages", "UsageLog", GetRouteValues(userHitFilter: UserHitFilter.All), new
            {
                @class = Model.UserHitFilter == UserHitFilter.All ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Multi-Hit Users", "Pages", "UsageLog", GetRouteValues(userHitFilter: UserHitFilter.MultiHit), new
            {
                @class = Model.UserHitFilter == UserHitFilter.MultiHit ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Single-Hit Users", "Pages", "UsageLog", GetRouteValues(userHitFilter: UserHitFilter.SingleHit), new
            {
                @class = Model.UserHitFilter == UserHitFilter.SingleHit ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row my-1">
    <div class="col-auto">
        <strong>Bot Filter:</strong>
    </div>
    <div class="col-auto">
        @Html.ActionLink("All Traffic", "Pages", "UsageLog", GetRouteValues(botFilter: BotFilter.All), new
            {
                @class = Model.BotFilter == BotFilter.All ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Exclude Bots", "Pages", "UsageLog", GetRouteValues(botFilter: BotFilter.ExcludeBots), new
            {
                @class = Model.BotFilter == BotFilter.ExcludeBots ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
    <div class="col-auto">
        @Html.ActionLink("Bots Only", "Pages", "UsageLog", GetRouteValues(botFilter: BotFilter.BotsOnly), new
            {
                @class = Model.BotFilter == BotFilter.BotsOnly ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row my-1">
    <div class="col-auto"><strong>Summary:</strong></div>
    <div class="col-auto">
        Count = @items.Count()
    </div>
    <div class="col-auto">
        Last Refresh = @Model.LastUpdate.ToString()
    </div>
    <div class="col-auto">
        @Html.ActionLink("Clear Cache", "ClearCache", "UsageLog", null, new
            {
                @class = "btn btn-secondary btn-sm",
                role = "button"
            })
    </div>
</div>

<div class="row">
    <div class="col">
    <table style="table-layout:fixed" class="table table-striped table-songs col-sm">
        <thead>
            <tr>
                <th scope="col" style="width:5em">
                    Hits
                </th>
                <th scope="col" style="width:5em">
                    Users
                </th>
                <th scope="col">
                    Page
                </th>
                <th scope="col" style="width:3em">
                    Days
                </th>
                <th scope="col" style="width:10em">
                    Min Date
                </th>
                <th scope="col" style="width:10em">
                    Max Date
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Hits</td>
                <td>@item.UniqueUsers</td>
                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@item.Page">
                    @if (!string.IsNullOrEmpty(item.Page))
                    {
                        @Html.ActionLink(item.Page, "PageLog", new
                            {
                                page = item.Page,
                                exactMatch = !Model.UseBaseUrl
                            })
                    }
                </td>
                <td>
                    @(((item.MaxDate.LocalDateTime - item.MinDate.LocalDateTime).Days + 1).ToString())
                </td>
                <td>
                    @item.MinDate.LocalDateTime.ToString()
                </td>
                <td>
                    @item.MaxDate.LocalDateTime.ToString()
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
</div>
