@model IEnumerable<music4dance.ViewModels.SongCounts>

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h2>Song Database Statistics</h2>

<ul>
@foreach (var item in Model)
{
    <li>@Html.DisplayFor(modelItem => item.DanceName) (@Html.DisplayFor(modelItem => item.SongCount))
        <ul>
        @foreach (var sitem in item.Children)
        {
            if (sitem.SongCount > 0)
            {
                <li>@Html.DisplayFor(modelItem => sitem.DanceName) 
                    (@Html.DisplayFor(modelItem => sitem.SongCount)) 
                    @Html.ActionLink("Show...", "Index", "Song", new { dances = sitem.DanceId }, null)
                    @if (sitem.Children != null && sitem.Children.Count > 1)
                    {
                        <ul>
                        @foreach (var titem in sitem.Children)
                        {
                            <li>@Html.DisplayFor(modelItem => titem.DanceName) (@Html.DisplayFor(modelItem => titem.SongCount))</li>
                        }
                        </ul>
                    }
                </li>
            }
        }
        </ul>
    </li>
}
</ul>

@*<table>
<tr><th>ID</th><th>Dance</th><th># Songs</th></tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DanceId)</td>
        <td>@Html.DisplayFor(modelItem => item.DanceName)</td>
        <td>@Html.DisplayFor(modelItem => item.SongCount)</td>
    </tr>
}

</table>
*@
