@model IEnumerable<music4dance.ViewModels.SongCounts>

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h2>Song Database Statistics</h2>

<table>
<tr><th>ID</th><th>Dance</th><th># Songs</th></tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DanceId)</td>
        <td>@Html.DisplayFor(modelItem => item.DanceName)</td>
        <td>@Html.DisplayFor(modelItem => item.SongCount)</td>
    </tr>
}
</table>