@model IEnumerable<SongCounts>

@foreach (var item in @Model)
{
    if (item.SongCount > 0)
    {
        <a id="@item.SeoName" href="#" class="list-group-item dance">
            <span id="@item.DanceId" class="badge">@item.SongCount</span>
            @if (ViewBag.ShowTempo)
            {
                <b>@item.DanceName</b>
            }
            else
            {
                @item.DanceName
            }
            @if (ViewBag.ShowTempo)
            {
                decimal min = item.Dance.Info.TempoRange.Min;
                decimal max = item.Dance.Info.TempoRange.Max;
                int numerator = item.Dance.Info.Meter.Numerator;
                if (max == min)
                {
                    <small>(@(max * numerator) BPM / @max MPM)</small>
                }
                else
                {
                    <small>(@(min * numerator)-@(max * numerator) BPM / @min-@max MPM)</small>
                }
            }
        </a>
    }
}
